[2016-03-16 20:39] brigand opened #1 "Handle union of constants and types"
[code]

[2016-03-19 01:08] brigand opened #2 "Support sharing propTypes across files"
One limitation is that we can't look at other files from babel plugins. Because propTypes are only needed in development, and the plugin should be disabled in production, we'll always export any exported types as a special secret property, and when we import it we can access this property. Then any references to an imported type will be replaced with the raw propTypes object.

Albums.js

[code]

A

[2016-03-25 07:58] MoOx opened #3 "Support (or sort of) for Functional component"
Here is a simple functional component

[code]

Flow: ok
eslint (with plugin react): ok

but this plugin seems to raise an error

[code]

I understand that it's not easy to handle this, but at least maybe this should not throw an error?

[2016-03-25 08:03] brigand commented on #3
I'm not getting an error on that code snippet. Are you getting an error with that exact code?

[code]

[2016-03-25 08:38] MoOx commented on #3
yeah. Oh so maybe related to the fact that I use babel-eslint?

[2016-03-25 08:40] MoOx commented on #3
Oh my bad, I am getting this with my test class

[code]

[2016-03-25 08:58] brigand commented on #3
I see the issue. It's the `onMount?: () => void,`. I'm not handling function type annotations.

I'll have it fixed in a few hours.

[2016-03-25 08:58] MoOx commented on #3
No rush, I was just reporting :)

[2016-03-25 09:42] brigand commented on #3
Fixed, thanks for reporting and trying out the plugin :-)

[2016-03-25 09:42] #3 closed

[2016-04-07 05:26] MoOx opened #7 "Issue with a file that just contains some exports"
[code]

Error

[code]

[2016-04-07 11:41] #7 closed

[2016-04-07 11:42] brigand commented on #7
Thanks for reporting! Fixed in 0.3.1.

[2016-04-14 19:31] STRML opened #9 "Conversion strategy"
I'm working to convert [react-grid-layout](https://github.com/STRML/react-grid-layout) to use this plugin.

I'm running into an issue where the plugin crashes on the IntersectionTypeAnnotation [here](https://github.com/STRML/react-grid-layout/blob/master/lib/utils.js#L3). That's fine - and I'll submit a PR soon to try to address it or ignore it (perhaps we need suppression pragmas much like Flow i

[2016-04-14 20:34] brigand commented on #9
I don't like it either. It's a lazy implementation.

Is this what you want to match?

[code]

I'm not sure how this'd be implemented, so I'm glad you volunteered :-)

[2016-04-14 20:46] STRML commented on #9
Ahahaha. Well, time to spend some quality time in astexplorer and figure it out.

[2016-04-15 16:46] glortho commented on #3
What are the prospects for supporting functional components?

[2016-04-15 17:59] brigand opened #11 "Support function components"
From https://github.com/brigand/babel-plugin-flow-react-proptypes/issues/3#issuecomment-210542458

The basic approach would be checking for a function that has a type definition in its argument `function foo(props: Something) {` that returns `<something>` or `React.createElement()`.

[code]

What does a function that destructures its arguments look like with flow? I tried this, but it's a syntax e

[2016-04-15 17:59] brigand commented on #3
@glortho moved it to a standalone issue #11.

[2016-04-15 18:22] STRML commented on #11
Re: destructuring, the correct syntax would be:

[code]

Or it could even be inline:

[code]

[2016-04-18 13:07] glortho commented on #11
+1 these seem like readily identifiable signatures 👆

[2016-04-28 14:58] graue opened #13 "License file?"
Hey, this looks awesome! Can you put a license file in it to clarify how people can use it? If you intended to do MIT License, there's a template here: https://opensource.org/licenses/MIT

Thanks, and nice work :+1:

[2016-04-28 18:24] brigand commented on #13
Done.

[2016-04-28 18:24] #13 closed

[2016-05-04 00:46] STRML commented on #9
Stalled right now as astexplorer broke our usage (https://github.com/fkling/astexplorer/pull/112) - when I have time I'll work on a PR.

[2016-05-09 05:44] MoOx opened #14 "Support component that does not import React but that still have props"
I have a component that does not import React at all (not required)

[code]

When I use this component, I got a "React is not defined" error. I suspect that babel-plugin-flow-react-proptypes replace the Props by `React.PropTypes` even if React is not in the current scope.

[2016-05-09 14:57] brigand commented on #14
I think this is so rare that it's not worth solving. The only time this happens is when you have a component that doesn't use jsx/React.createElement. JSX is similar in that it requires React to be in scope.

[2016-05-09 15:15] MoOx commented on #14
Currently this throw an error and I took me a while to solve, but you decide. I am not currently comfortable enough with babel plugin authoring to fix this myself.

[2016-05-09 15:16] MoOx commented on #14
You could also just add by default `import { PropTypes } from "react"` and use `PropTypes` directly.

[2016-05-14 20:23] ericwooley opened #15 "Issues with non-props files"
First off, thanks for this project! I really hope to get it working soon!

I have a project with flow all over the place, not just in react components. Adding this to my babel plugins give me this error.
[code]
Here is the offending file (auth.js)
[code]
and the webpack/babel config
[code]

[2016-05-14 21:40] #15 closed

[2016-05-14 21:41] brigand commented on #15
Thanks for reporting!

Let me know if the new version fixes the problem for you.

[2016-05-15 20:32] ericwooley commented on #15
Thanks for the quick response. That got rid of almost all the errors in a lot of files! Thanks! I have one more error that I am encountering!

I am only getting one more error. Normally I would attempt a PR for something like this but I just don't have time, and no experience with babel plugins.

Here is the error
[code]
and the file
[code]

[2016-06-05 22:28] ericwooley commented on #14
I think this is related:

I am getting a runtime error about react not being defined in a file unrelated to where React components or any props declarations.
[code]

[2016-06-05 22:34] brigand commented on #14
@ericwooley thanks for the report.

I think the solution here is to generate `require('react').propTypes.string` instead of `React.propTypes.string`.

The downside is that it won't work outside of common.js environments, but I think that's an acceptable tradeoff.

[2016-06-05 22:49] ericwooley commented on #14
@brigand

I am trying to do this, then PR, but I have no idea where to find that. Any pointers on where to start?

[2016-06-05 22:53] #14 closed

[2016-06-05 22:54] brigand commented on #14
I think I already fixed it. Pushed as 0.5.0.

[2016-06-05 23:28] ericwooley commented on #14
@brigand Still having the same error, `Uncaught ReferenceError: React is not defined` :(

[2016-06-06 03:29] brigand commented on #14
Okay, I think I got it now. 0.5.1. @ericwooley let me know if it works now.

[2016-06-06 15:18] ericwooley commented on #14
@brigand I appreciate the effort! But it still has the same problem :(

[2016-06-06 15:24] brigand commented on #14
Are you running it on the same code? I get this output. There are no references to React in it.

[code]

[2016-06-06 15:29] ericwooley commented on #14
@brigand

I ninja edited my last comment. Figured you wouldn't be on in time to notice.

[2016-06-06 15:31] brigand commented on #14
Great! I don't, but feel free to send something on paypal at f.bagnardi@gmail.com

[2016-06-06 17:05] ericwooley opened #16 "Usage with other transforms (webpack, hot module loader)"
I am running web pack with hot module reloading. Which was originally created by react-redux-start-kit and have been unable to get this working. Here is the babel loader
[code]

Any help would be appreciated.

[2016-06-06 17:15] brigand commented on #16
What do you mean by it not working? Do you get an error? Include the relevant module(s) source.

[2016-06-06 17:15] ericwooley commented on #16
Wow, I need to drink coffee, the files I was testing didn't have // @flow in them.

[2016-06-06 17:25] ericwooley commented on #16
Yep, the addition of @flow didn't seem to matter. Here are the relevant sources.
[code]

[code]

[2016-06-06 18:49] #16 closed

[2016-06-06 18:50] brigand commented on #16
Looks like the problem was inserting nodes after `export class Foo` (not export default) failing. Strange that webpack seems to be hiding the error messages.

Let me know if 0.5.2 fixes it.

[2016-06-06 19:16] tmc opened #17 "Support T[] shorthand."

[2016-06-06 19:17] brigand commented on #17
Do you have some example code?

[2016-06-06 19:19] tmc commented on #17
[code]
vs
[code]

[2016-06-06 19:22] tmc opened #18 "Support string literals."
[code]

result:
[code]

[2016-06-06 19:24] tmc opened #19 "Support literal unions"
[code]

produces:

[code]

[2016-06-06 19:27] #17 closed

[2016-06-06 19:27] brigand commented on #17
Thanks, pushed as 0.6.0.

[2016-06-06 19:54] brigand commented on #19
Thanks for the report. This is going to take some time to fix. I'll look into it later.

[2016-06-06 20:10] ericwooley commented on #16
@brigand You are killin it, like instant support. I'll try it out again later tonight

[2016-06-07 00:36] tmc opened #20 "add HACKING.md"
with some instructions on editing/testing this codebase

[2016-06-07 00:42] #20 closed

[2016-06-07 00:43] brigand commented on #20
Added a basic one. If you have any questions, I'll add the answers there.

[2016-06-07 02:11] tmc commented on #19
so this works if the literal union isn't top level.

[2016-06-07 15:32] ericwooley commented on #16
@brigand Sorry man, no change as far as I can tell. Should it be used as the leftmost transform or the right? I have been testing with both, doesn't seem to matter for my case. I am not sure if babel transforms left to right, or right to left.

[2016-06-07 17:41] csterritt opened #21 "Required prop, but flow doesn't care"
Hello -- sorry if I'm doing this wrong.

I've installed your plugin and it's great (don't have to declare things twice!), except for the following situation.

I have a class (important bits below):

[code]

And a use thereof in another file:

[code]

And everyone is happy.

However, if I change the last line of the invocation to `names={category.name}`, then flow is still perfectly happy, even tho

[2016-06-07 17:42] brigand commented on #21
You can do `name?: string` to make it optional.

[2016-06-07 17:44] csterritt commented on #21
Sorry, I guess I'm as confusing as ever :-) -- I *do* want name to be required.  My problem is that (I thought) flow would tell me if I skipped a required property.  Is this wrong?

[2016-06-07 17:46] brigand commented on #21
Huh, I dunno. I haven't used flow on any serious projects yet, I just use the type annotations as docs/better proptypes syntax.

[2016-06-07 17:48] csterritt commented on #21
Well, thanks again for the plugin -- I'll dig around and see if I can turn something up.

[2016-06-09 05:40] sckoh commented on #21
Is it because of flow is a static type checker, category.name is not known until runtime (acquired from api?) so flow do not complain.

[2016-06-09 12:28] csterritt commented on #21
@sckoh No, both the call (the second code block) and the code being called (the first code block) are there, and static (in effect).  So I'd think it should catch the error.

[2016-06-09 14:14] yuri-karadzhov opened #22 "Does not work with contextTypes"
Unfortunately it does not work with contextTypes, that should be pretty much the same.

[2016-06-09 17:07] brigand commented on #21
This seems like a problem with flow, not this plugin, so I'm closing the issue. You could report/ask about it in flow's issue tracker.

[2016-06-09 17:07] #21 closed

[2016-06-12 16:27] sckoh commented on #2
what's the progress of this feature? I try to import type but got the below warning

    warning.js?8a56:44Warning: Failed propType: AlbumDetails: prop type `data` is invalid; it must be a function, usually from React.PropTypes. Check the render method of `Albums`.

[2016-06-12 17:34] brigand commented on #2
@sckoh please share your code.

[2016-06-12 23:44] brigand commented on #2
@sckoh I pushed a small fix for when there's no export from the other file, which may have been your issue. 0.7.1.

If that doesn't fix it for you, please include your code. Closing the issue for now because it seems to be working.

[2016-06-12 23:44] #2 closed

[2016-06-12 23:45] brigand commented on #22
I don't think I'm going to support contextTypes with this plugin, as it's intended for use only in development, and contextTypes affects the behavior of your application. This means if you only used it in development, it'd break production builds of your app.

[2016-06-12 23:45] #22 closed

[2016-06-14 14:35] Kerumen opened #23 "Error on import type"
I get this error on a React Native file: `Cannot read property 'name' of undefined` ([here](https://github.com/brigand/babel-plugin-flow-react-proptypes/blob/5b17cab2e7a72a632b5e70fd3a809c82952ddb09/src/index.js#L112)).

The problematic line is [here](https://github.com/facebook/react-native/blob/v0.26.3/Libraries/CustomComponents/Navigator/Navigation/NavigationContext.js#L39).

EDIT: The file has

[2016-06-14 19:24] brigand commented on #23
@Kerumen thanks for the report.

This happens because I assumed only `import {Type} from './x'` was valid (note the `{}`s), but I can add support for what looks like a default type import.

If you're exporting a type, it should probably work despite the noflow flag.

[2016-06-14 19:33] #23 closed

[2016-06-14 19:34] brigand commented on #23
This is fixed in 0.7.2. Let me know if it works for you.

[2016-06-15 10:16] Kerumen opened #24 "Error: Unknown node in the type definition"
I have the error:

[code]

Here: [NavigationRootContainer.js#L29](https://github.com/facebook/react-native/blob/0.26-stable/Libraries/NavigationExperimental/NavigationRootContainer.js#L29)

[2016-06-15 10:17] Kerumen commented on #23
Yes it works!

[2016-06-15 19:54] #24 closed

[2016-06-15 19:54] brigand commented on #24
Thanks for the report. Fixed in 0.7.3.

[2016-06-17 09:22] Kerumen opened #25 "Unknown TypeofTypeAnnotation"
I have the following error:

[code]

Here: [NavigationTabsReducer.js#L27](https://github.com/facebook/react-native/blob/0.26-stable/Libraries/NavigationExperimental/Reducer/NavigationTabsReducer.js#L27)

[2016-06-17 23:10] brigand commented on #25
Oh wow, didn't even know this existed. I think I'm just going it mark it as PropTypes.any because it looks really complex and bug prone to do the smart thing here.

Thanks for the report!

[2016-06-17 23:13] #25 closed

[2016-06-17 23:13] brigand commented on #25
Published as 0.7.4.

[2016-06-18 15:02] rosskevin opened #26 "callable types unhandled?"
I receive `Warning: Failed propType: Required prop onBlur was not specified in TextField.`

This flow code:

[code]

Generates:

[code]

The `onChange` and `onBlur` are specified, not null, and of the signature I have specified.

Am I missing something or is this not yet supported?

[2016-06-18 15:11] marcusdarmstrong commented on #26
That warning is in how you're using `TextField`, not the generated proptypes.

[2016-06-18 15:16] rosskevin commented on #26
hmmm, here's a gist (I'm working on an integration with react-formal): https://gist.github.com/rosskevin/e166b1a174f961ac61a091930dfcefa7

Do you spot the misuse?

[2016-06-18 15:18] rosskevin commented on #26
maybe related: https://github.com/reactjs/react-redux/issues/6

es7 use?

[2016-06-18 15:18] marcusdarmstrong commented on #26
You're not specifying an onChange or onBlur here: https://gist.github.com/rosskevin/e166b1a174f961ac61a091930dfcefa7#file-signin-js-L71

[2016-06-18 15:21] rosskevin commented on #26
That's a react-formal `Field`.  I register my `TexField`, and `Field` passes those to `TexField`.

Effectively:

[code]

[2016-06-18 15:25] marcusdarmstrong commented on #26
Right. But you never pass those props to `Form.Field`. So it never passes them to `TextField`.

There's nothing in here: https://github.com/jquense/react-formal/blob/master/src/Field.jsx that's going to pass an `onBlur` or `onChange` handler to your `TextField` without it having been passed to the `Form.Field`.

[2016-06-18 15:35] rosskevin commented on #26
Maybe I'm not describing it well.  I don't want to/intend to pass these handlers...ever.  react-formal `Form.Field` dynamically connects the `Form`'s handlers (`onChange && onBlur`) and passes them and other information to my `TextField`.  My _client_ code (`Signin`) needs no knowledge of these handlers.

I know with certainty that `TextField` is receiving these handlers and they are not null.

He

[2016-06-18 15:40] marcusdarmstrong commented on #26
Ah, didn't realize it was context aware to the `Form`. But even so, your `Form` doesn't have an `onBlur`, so I don't know what your password field would be receiving for that prop.

And no, propTypes are runtime checks. There's nothing static about them/no guarantees of any kind, so if you're getting a warning from them (as you are here), the warning is indicating a specific example of a runtime t

[2016-06-18 15:44] rosskevin commented on #26
Ok, thanks much for the look, helps my understanding.  I'll figure out where/when/why it is missing, certainly if the check is implemented, it's a good warning!

[2016-06-18 15:44] #26 closed

[2016-07-07 07:02] JakeCoxon commented on #9
I'm not a big fan of matching on the name of the type either.

What if you denote a special generic type to use for the plugin.

[code]

Then anything with ReactProps<Y> will be transformed

[2016-07-07 18:20] brigand commented on #9
@JakeCoxon how would that work with people using flow, wouldn't it error saying ReactProps doesn't exist?

[2016-07-07 18:50] STRML commented on #9
Could use a passthrough type that we import from this module. A bit hacky but should work:

[code]

Not sure if this is the best option though.

[2016-07-07 18:53] brigand commented on #9
So far, I think your original idea of checking `props: SomeType` in the class is best.

[2016-07-07 19:25] JakeCoxon commented on #9
Sure the passthrough would work, it is a pain to have to import it, but if you're using flow then you don't need this plugin right? For production you can just replace ReactProps<T> with T.

I definitely think semantics based on the identifier name not good enough.

Otherwise you will have to check each class to see if it extends React.Component? But what if you import it under a different name? W

[2016-07-07 19:41] STRML commented on #9
That's a good point re: functional components.

The pain of importing `ReactProps` could be lessened somewhat by encouraging that you install a global interface. It becomes a bit like `__()` in i18n-land.

Otherwise, we could duck-type any class with a `render()` method or function that returns a React component. But that could be pretty difficult to do right, especially if the method sometimes re

[2016-07-07 19:44] STRML commented on #9
If it's hard to identify a ReactClass directly, perhaps we could trace backwards? If we see any React.createElement() calls or JSX custom components in the code, and they're not in `node_modules`, we could then mark the import as a ReactClass or functional component & do the transformation. I'm not familiar enough with Babel to know if this would be possible at all, or at least without requiring m

[2016-07-07 19:50] brigand commented on #9
I'm not sure if checking if it uses jsx/createElement is much better than the current method. And it'd have the problem with e.g. `import {createElement} from 'react';`.

We recently got support for some function components (https://github.com/brigand/babel-plugin-flow-react-proptypes/pull/27) but it has the same "ends with Props" hack.

[2016-07-08 14:03] rosskevin opened #28 "Encountered an unknown node in the type definition. TypeofTypeAnnotation, GenericTypeAnnotation"
Version 0.7.3

Flow 0.28.0 checking is successful

Type declaration ([Source](https://github.com/alienfast/material-ui/commit/f965f7f744f225072b9fac129c38f409e16e9a8d#diff-71be76acb22a53104726196bdc797ec1R38)):
[code]
Error:
[code]

[2016-07-08 20:52] brigand commented on #28
Wasn't aware of this. I think I'll make it be `PropTypes.any.isRequired` because we're not tracing types.

[2016-07-13 04:22] dozoisch commented on #9
@brigand and that end with Props hack seems to break when you have a constructor in a class :)

Currently It prints the propTypes twice. Once inside the class declaration, and once outside and it seems to break in react-native. I'm investigating a fix right now.

repro code:

[code]

[2016-07-14 17:02] rosskevin opened #29 "contextTypes support"
This plugin is working fantastic for propTypes, is there a chance we could also get contextTypes support from this or am I missing another plugin?

[2016-07-14 23:49] brigand commented on #29
See https://github.com/brigand/babel-plugin-flow-react-proptypes/issues/22

[2016-07-14 23:49] #29 closed

[2016-07-14 23:55] rosskevin commented on #22
I think this plugin is/will be used in production, especially for libraries that are complex and are used as either commonjs or umd modules.  While some may not want to use it in production and you are right that it wouldn't work both ways, it would be nice to have this option.

[2016-08-02 10:00] skovhus commented on #11
It is supported, but just very opinionated, e.g. you cannot use spread, the type needs to be prefixed `Props` and the export needs to be in a specific format

See https://github.com/brigand/babel-plugin-flow-react-proptypes/blob/master/src/__test__/fixtures/stateless.input.js

I might have a look at improving this.

[2016-09-03 09:25] brigand commented on #11
Fixed thanks to https://github.com/brigand/babel-plugin-flow-react-proptypes/pull/31

[2016-09-03 09:25] #11 closed

[2016-09-03 13:53] cristian-sima opened #35 "Braking bug for 0.9.1"
I got this

[code]

[2016-09-03 13:58] cristian-sima commented on #35
`0.8.0` seems to work

[2016-09-03 23:41] brigand commented on #35
Please provide the code for Cube/Page.jsx.

[2016-09-04 09:40] skovhus commented on #28
I cannot reproduce this error. I think this is fixed.

Please check @rosskevin

[2016-09-04 09:51] skovhus commented on #18
I cannot reproduce this. I think this was fixed. @tmc @brigand

[2016-09-04 09:51] #18 closed

[2016-09-04 13:26] rosskevin commented on #28
If it cannot be reproduced, I assume it is good. The mui team declined my PR adding flow type checking. Thank you

[2016-09-04 13:26] #28 closed

[2016-09-04 18:51] cristian-sima commented on #35
Yep. Here it is:

[code]

[2016-09-04 20:30] skovhus commented on #35
Thanks for sharing.

It can be boiled down to having prop types defined directly in a class:
[code]

[2016-09-05 00:27] #35 closed

[2016-09-05 08:27] cristian-sima commented on #35
It is not solved. I am getting now this:

[code]

[2016-09-05 08:28] cristian-sima commented on #35
I repeat. `0.8.0` works

[2016-09-05 08:38] skovhus commented on #35
@cristian-sima ok. 0.8.0 might not add propTypes for this component, but silently ignores it. Let us try to fix it.

Please share `client/components/Messages.jsx`

[2016-09-05 08:40] cristian-sima commented on #35
[code]

[2016-09-05 09:48] skovhus commented on #35
Thanks for sharing.

So support for functional components was introduced in 0.9, so that is why this didn't fail before (propTypes were never added)...

The error can be boiled down to
[code]

[2016-09-05 09:50] cristian-sima commented on #35
Should I do
[code]
instand of

[code]

[2016-09-05 09:55] skovhus commented on #35
The problem is in our parsing of exports. So the issues is that you export in the same line as you declare the component.

Try reproduces the error:
[code]

So doing a `export default C` would fix it. But it is an issue in this plugin.

As for the `?` it should be at the end of your variable yes. `an_optional_string?: string`

[2016-09-05 09:58] cristian-sima commented on #35
@skovhus I can not do `export default` as I have 2 types of messages which I want to simply export them

[2016-09-05 10:18] skovhus commented on #35
I understand. The bug here is that we do not handle exports and declaration on the same line... A workaround is to split this up into to statements.

But I'm sure we will have a fix soon.

[2016-09-05 13:54] skovhus commented on #35
@cristian-sima should be fixed in 0.9.6, else please let us know in a new issue. Thanks :)

[2016-09-14 12:36] AvivRubys opened #40 "Crash when using intersection types"
The transformation crashes whenever intersection types are used (which are used in react native, making this transform impossible to use with react native).

Reproducing example:
**index.js**
[code]
**.babelrc**
[code]
Result:
[code]

[2016-09-14 14:06] brigand commented on #40
@AvivRubys thanks for the report. I'm not quite sure what this should look like in the output. I might just mark it as PropTypes.any for now.

[2016-09-14 15:26] #40 closed

[2016-09-14 15:26] brigand commented on #40
Published as 0.10.1.

[2016-09-21 14:14] dalexand opened #42 "Crash when React Component subclass positioned in same file with stateless component"
A transformation crashes when i tryied to compile this.

**index.js**

    import React, {Component, PropTypes} from 'react';

    type TaskGridHeaderProps = {
        tasksSetSort: any
    };

    export default class TaskGridHeader extends Component {
        props: TaskGridHeaderProps;

        render() {
            return null;
        }
    }

    const glyph = (param?: any) => (
        <di

[2016-09-21 18:31] #42 closed

[2016-09-21 18:32] brigand commented on #42
Thanks for the report! Published as 0.12.0.

[2016-09-22 07:50] dalexand commented on #42
Alas, but crash still happens. This is the gist with my test data.

https://gist.github.com/dalexand/201d0f7d9e1f0346f15b70a8ec32eab8

[2016-09-22 17:08] dalexand opened #43 "Crash still exists"
The crash mentioned in issue #42 still happens. The gist with my test data:

https://gist.github.com/dalexand/201d0f7d9e1f0346f15b70a8ec32eab8

[2016-09-22 20:27] brigand commented on #42
@dalexand you still have 0.11 in the package.json.

[2016-09-23 06:25] #43 closed

[2016-09-23 06:26] dalexand commented on #42
Sorry, it's my fault.

[2016-09-27 20:41] aaronjensen opened #45 "Support `mixed`"
[code]

`mixed` should be able to be used in place of `any`

[2016-09-27 22:46] #45 closed

[2016-09-28 17:24] justinanastos opened #47 "Does not apply propTypes using `$Exact<>`"
I am using `$Exact<>` to ensure that *only* certain props are passed to a component (flow will fail if any others are passed). I understand that checking for extraneous props is not easily handled with `propTypes`, but *all* type definitions wrapped in `$Exact<>` are ignored.

This works:

[code]

This does write any `propType` checks:

[code]

[2016-09-28 21:53] brettstack opened #48 "children: PropTypes.node"
I'm unable to find an example for `PropTypes.node` - could you add one to the README?

[2016-09-28 23:43] brigand commented on #48
What would that look like as a flow annotation?

[2016-09-28 23:57] brigand commented on #47
@justinanastos do you have docs on this? I can't find them.

[2016-09-29 01:45] brettstack commented on #48
That's what I'm asking. I'd love to be able to define my propTypes in Flow,
but this would be a huge limitation if you can't do it.

On Wed, 28 Sep 2016, 16:43 Frankie Bagnardi, <notifications@github.com>
wrote:

[2016-09-29 01:54] brigand commented on #48
From the react docs

[code]

So the prop would be a pretty complicated union type annotation. If there's an easier way to write this that's valid in flow we can add special support.

The best thing for now is probably to mark it as `any`, which means anything except undefined (or null, I think).

[2016-09-29 13:15] justinanastos commented on #47
It's still undocumented :( My understanding is it's the same as the `{| |}` operator described in the [v0.32.0 changelog](https://github.com/facebook/flow/blob/master/Changelog.md#v0320). The missing documentation is listed as an issue in facebook/flow#2462 in [this comment](https://github.com/facebook/flow/issues/2464#issuecomment-247606625). I think the *correct* way to use it is with `{| |}` bu

[2016-09-29 13:20] brigand commented on #47
Cool, looks like babel already supports it too, at least the latest version.

I need to think about what the resulting code should look like. Feel free to share any ideas you have.

[2016-09-29 13:51] brettstack commented on #48
any will do for now. Can you add that to the README and maybe someone will
come up with a better solution.

On Wed, 28 Sep 2016, 18:54 Frankie Bagnardi, <notifications@github.com>
wrote:

[2016-09-29 14:28] justinanastos commented on #47
Looks like you're right! With an update to babel and eslint this eslint checks no problem.

[2016-09-29 14:32] brigand commented on #48
I'm not going to put it in the readme, but hopefully someone else asks about it in an issue, and comes with solutions 😄

[2016-09-29 19:05] brettstack commented on #14
@MoOx it looks like you have some solution for defining `children` - can you comment over at #48? What does your `ReactElement` type look like?

[2016-09-29 19:22] MoOx commented on #48
The simplest way is to use

children: any

or maybe

- children: React$Element<any>

[2016-09-29 19:48] brettstack opened #49 "eslint react/prop-types: 'property' "is missing in props validation""
Any solution for getting this plugin to play nicely with the `react/prop-types` eslint rule? This rule warns you when you use a prop that you have not defined in your `propTypes`. For now I'm just going to silence it, but it would be awesome if we could get a companion eslint rule  that works with this plugin.

[2016-09-29 19:57] brettstack commented on #48
Thanks, @MoOx. Where does `React$Element` come from? I see in #14 you use `ReactElement`. I stole your code and dropped it into a common `_types.js` file:

[code]

It might be worth it for this lib to export these. Even if it's just `export type ReactNode = any`, at least we would have a placeholder we could use for now.

[2016-09-30 04:11] brigand commented on #49
That'd be a whole other project, but convertPropTypes.js might be useful to it. If you decide to take it on, I'll link to it in the readme.

[2016-09-30 06:21] MoOx commented on #48
It should more be React$Element<any>.
This comes from React core (not sure from where, but it's used here https://github.com/facebook/react/blob/16ac141f44583bd59f95f5b420a66bfcef01865e/flow/environment.js#L20)

[2016-09-30 06:41] brigand commented on #48
Isn't that just for elements, being objects with properties `{type, props, key, ref}`?

[2016-09-30 06:43] MoOx commented on #48
Yeah so maybe...

children: number | string | React$Element<any> | Array<number | string | React$Element<any>>

But it will become complicated to handle...

[2016-09-30 06:57] brigand commented on #48
The thing is... you can already kinda do that. The only thing special you need to do is make a file types.js:

[code]

And then import that in your component

[code]

So us adding extra support for it doesn't really change anything. Unless we want to do a string match on GenericTypeAnnotation for 'ReactNode' or similar... which is gross and won't work well if you're actually using flow as a type c

[2016-09-30 07:06] brigand commented on #48
Actually that doesn't work currently, it seems to ignore the type annotation, likely because it's not an object.

[2016-09-30 07:30] JelteF commented on #49
For me that's working fine, even without this library. Maybe you should update eslint or the react plugin.

[2016-09-30 15:20] brettstack commented on #48
I don't have experience with flow or Babel internals, but that's what I was
thinking. You export ReactNode and transform to PrppTypes.Node.

On Fri, 30 Sep 2016, 00:06 Frankie Bagnardi, <notifications@github.com>
wrote:

[2016-09-30 15:24] brigand commented on #48
Cool. I don't know when I'll have time to work on this. Feel free to send a PR if you have the time.

[2016-09-30 15:26] brettstack commented on #49
@JelteF it's that it's not working with this library. That is, it was working when I was defining my props using PropTypes directly. If you have a solution, please share. :)

[2016-10-01 02:07] pelotom opened #50 "Flow errors"
When I try to run the `flow` command with this plugin installed, I get these errors:

[code]

[2016-10-01 04:06] brigand commented on #50
Odd, I don't know why it'd try to type check those files since they're not imported anywhere, and this plugin should only be imported by babel, not your source code.

[2016-10-01 13:16] gabro commented on #47
See also https://github.com/facebook/flow/pull/2525 for the WIP documentation ;-)

[2016-10-06 15:58] STRML commented on #9
Appears this is fixed as of 0.9.0?

[2016-10-06 15:59] STRML commented on #50
I've seen these things happen pretty often - there's at least one bug report in the flow repository to respect nested `.flowconfig` files in some way so this repository can specify that these tests should be ignored.

In the meantime, an addition like:

[code]

should fix it.

[2016-10-06 16:02] STRML commented on #9
We still have some issues with extended components, like so:

[code]

Throws:

[code]

A suppression pragma would be really nice.

[2016-10-06 19:01] brigand commented on #9
@STRML Good idea! Published in 0.13.0. https://github.com/brigand/babel-plugin-flow-react-proptypes#suppresion

[2016-10-06 19:03] STRML commented on #9
Cool, thanks! Although you might want to fix the typo: (`pluigin`)

[code]

Also, the README typos `Suppression`.

[2016-10-06 19:07] brigand commented on #9
Whoops. Published as 0.13.1.

[2016-10-07 15:47] gcanti commented on #47
https://github.com/brigand/babel-plugin-flow-react-proptypes/pull/51

[2016-10-07 18:30] #47 closed

[2016-10-18 14:54] ctrlplusb commented on #49
@brettstack Have you tried https://github.com/gajus/eslint-plugin-flowtype

[2016-10-25 19:11] dozoisch commented on #49
For me updating to latest eslint-plugin-react fixed it @brettstack

[2016-10-25 19:14] brigand commented on #49
Cool, looks like this is resolved 😄

[2016-10-25 19:14] #49 closed

[2016-10-28 19:29] StevePotter opened #53 "Not working with react native"
1) Install React Native 0.35+ (I didn't test on another platform)

In console
[code]
Install via readme instructions.  Add foo.js by copy/pasting from readme.  In index.io.js, do
[code]
Then run
[code]
To see the generated output, go to http://localhost:8081/index.ios.bundle?platform=ios&dev=true&minify=false

You'll see Foo there, but no proptypes.   I tested on multiple React Native  projects an

[2016-10-28 19:36] brigand commented on #53
I'll try to reproduce. Share your .babelrc

[2016-10-28 20:15] brigand commented on #53
I think I was able to reproduce it at first, but I may have just missed it in the output.

Here's the files I changed: https://gist.github.com/6f647717428dc8effba671bf3f9c81a8

[2016-10-29 09:24] brigand commented on #53
Closing the issue for now.

[2016-10-29 09:24] #53 closed

[2016-10-31 14:47] StevePotter commented on #53
Hey @brigand thanks for your efforts with this.  Turns out it was just the plugin name.  The docs say "flow-react-proptypes" but your example uses "babel-plugin-flow-react-proptypes".  Do the docs need updated, or in this case the name is supposed to be different?

[2016-10-31 15:48] brigand commented on #53
Either should work. Babel automatically prefixes it with 'babel-plugin-'.

[2016-11-01 18:55] Rovack opened #54 "Functional components often not detected"
While this plugin does have some support for detecting stateless functional components, and consequently generating propTypes for them, there are several scenarios where it fails to do so.

Specifically, if such a component's function doesn't return JSX directly, but rather returns a variable to which JSX was previously assigned, it will not be detected.

For example, with the following code, not

[2016-11-01 20:12] Rovack commented on #54
Thanks for the (incredibly) quick response!

I think if the first part were fixed, that'd already be a great improvement.

As for code coverage, I haven't looked deeply enough into the internals of jest (or rather istanbul) to be sure, but I suspect it might be related to the first issue.
If we find that this still happens after the first part is fixed, I'll investigate it further.

[2016-11-02 04:00] #54 closed

[2016-11-02 04:00] brigand commented on #54
I think I got it working. Try 0.16.0.

[2016-11-02 17:59] Rovack commented on #54
Verified that this solves the first problem described in the issue.

Of course, this approach stops working once a separate function is involved (based on a real-world scenario that we encountered):
[code]

Looks like the coverage issue is also not quite resolved yet.

Should I open a separate issue(s) for those?

[2016-11-02 18:01] brigand commented on #54
The separate function requires type analysis which is out of scope for this project.

Yeah, create a separate issue for functions in expressions. Are you going to try to tackle it?

[2016-11-02 18:04] brigand commented on #54
Actually, maybe we could handle something like:

[code]

You can create another issue for that.

[2016-11-02 18:07] Rovack commented on #54
Actually, that would be perfect!
I was already looking into a way to annotate React functional components to make this problem easier, but somehow it never occurred to me that just annotating the return type as JSX with Flow might be all we need here. :P

I'll open an issue for that right now.

[2016-11-02 18:16] Rovack opened #55 "Support annotating React functional components"
Currently, there are several edge cases where the plugin fails to recognize React stateless functional components. See [this](https://github.com/brigand/babel-plugin-flow-react-proptypes/issues/54) issue for some examples.

While automatically recognizing them in all possible edge cases might be very difficult (would require actual type analysis), offering a way for the developer to manually annot

[2016-11-02 18:18] Rovack commented on #54
Opened https://github.com/brigand/babel-plugin-flow-react-proptypes/issues/55.
(I use React's `ReactElement` and not Babel's `JSXElement` in the example there just because it seems a bit more explicit to me, but really I suppose any kind of annotation will work.)

[2016-11-03 15:16] StevePotter commented on #53
Thanks, nice to know

[2016-11-03 19:18] #55 closed

[2016-11-03 19:19] brigand commented on #55
Should be fixed in 0.17.0. Let me know if it works for you.

[2016-11-03 23:22] Rovack commented on #55
Yeah, seems to work perfectly. :)

It still doesn't work with jest code coverage for some reason, but I think at that point it might be more of an Istanbul issue than an issue with this plugin.

Thanks!

[2016-11-04 16:45] ismay opened #56 "Redux connected components"
I've not been able to get this plugin to work with react es6 class containers / components that are using the redux `connect` decorator. Should it work, or is this not possible?

Because none of the examples as outlined in the readme work for me (although the plugin does work perfectly for me with pure components).

[2016-11-04 19:25] brigand commented on #56
You have to write it like this:

[code]

I'd accept a PR adding decorator support. I might implement it eventually but it's not a priority, especially considering it's disabled in babel pending spec changes.

[2016-11-05 12:13] ismay commented on #56
I did try it without the decorator support, but I'll double check and see if I can get it to work in the way that you describe. Will let you know if I encounter anything.

[2016-11-09 09:53] ismay commented on #56
Ok, I tried it again for a container component and for a regular es6 class component. In both cases `babel-plugin-flow-react-proptypes` does not set the proptypes for me. In my other use cases it does work correctly:

[code]

[2016-11-09 19:00] brigand commented on #56
That exact code works for me.

[code]

[2016-11-10 08:27] ismay commented on #56
Hmm strange, I must be doing something wrong then. I think this issue can be closed then, and should I find anything I'll let you know. Thanks for the feedback!

[2016-11-10 08:31] #56 closed

[2016-11-17 00:48] kevinbarabash opened #57 "optimize generated code"
Current code:
[code]

Suggested code:
[code]

[2016-11-17 15:32] wesm87 commented on #48
This seems to work for me:

[code]

[2016-11-25 02:51] dozoisch commented on #16
@ericwooley been having the same issue. The issue really seems to be related to `react-transform`. Had you found any solution? I'm thinking about migration from react-transform since it's deprecated now.

[2016-11-25 03:02] ericwooley commented on #16
@dozoisch sorry man, I just gave up and moved on. Good luck though!

[2016-11-28 17:53] #50 closed

[2016-12-15 13:58] jankuca opened #61 "add support for context types"
The logic should be pretty much the same I guess and this would make this plugin actually really useful.

Prop flow type to `propTypes` conversion is not actually that vital since the lack of `propTypes` does not render components unusable whereas `contextTypes` must be generated for the components to work correctly.

What are your thoughts on this?

[2016-12-15 14:48] brigand commented on #61
Duplicate of https://github.com/brigand/babel-plugin-flow-react-proptypes/issues/22

[2016-12-15 14:48] #61 closed

[2016-12-16 13:35] Oxyaction opened #62 "React native build breaks"
When using plugin in RN having the following issue:

facebook/react-native#11492

[2016-12-17 09:04] brigand commented on #62
@Oxyaction do you have any idea what the problem could be? I don't know where to start debugging this.

[2016-12-17 09:36] Oxyaction commented on #62
@brigand I'll try to make more deep research.

[2016-12-19 11:44] mxstbr commented on #62
Our ReactNative build also breaks when using this babel plugin 😢 reference issue: https://github.com/styled-components/styled-components/pull/259#issuecomment-263066895

[2016-12-23 15:39] notjosh commented on #62
As far as I can tell, `node_modules/react-native/Libraries/Renderer/src/renderers/shared/stack/reconciler/ReactReconciler.js` is being loaded, but not being stripped of flow types by Babel, so it's looking for a module that Jest hasn't exposed, or some such.

I tried forcing transforms on that (and related) file(s), but I got lost. I'm in over my head with this :)

[2016-12-23 15:40] notjosh commented on #62
(But those same things are loaded just fine if `flow-react-proptypes` is disabled, so, I guess my initial hunch was wrong. Hmm.)

[2016-12-23 15:51] notjosh commented on #62
It's something in the `ImportDeclaration` block. If that's commented out, it all works fine. I'll try to investigate that, as it seems reasonable.

[2016-12-23 16:16] notjosh commented on #62
Okay, I think I'm starting to understand now. I'm using the command line tooling to work through it.

Running:

[code]

Outputs:

[code]

Because these have changed to normal require calls, the `transform-flow-strip-types` plugin that would normally have removed the references completely can't tell. So it leaves them in, causing the problem.

I don't know the best fix, but I can imagine:

 - we ig

[2016-12-23 17:03] brigand commented on #62
Hmm... if a try/catch would work that seems like the best solution. I'd guess that it won't work because the bundler (webpack?) would still try to resolve the module.

[2016-12-23 17:08] notjosh commented on #62
Yeah, I'm experimenting with that. It throws very angry errors, ha.

[2016-12-23 17:19] notjosh commented on #62
Doesn't seem like having this be catchable is something they want in the runtime environment: https://github.com/facebook/react-native/issues/5079

[2016-12-23 18:13] brigand commented on #62
@notjosh what about checking if the import path starts with '.' and skipping over it otherwise. That should fix this issue. The only downside is that if you have a third party package that uses this plugin you won't get the prop types, but that seems somewhat unlikely currently.

[2016-12-23 18:14] notjosh commented on #62
I think that's a fair compromise, yeah. It's not perfect, but it's probably the best/simplest we can hope for.

[2016-12-23 18:25] brigand commented on #62
@notjosh give 0.19.0 a try. Thanks for doing all the research on this!

[2016-12-27 10:21] notjosh commented on #62
Cool, that seems to have addressed *that* issue. Thanks! I get another issue running the packager now though:

[code]

If I comment out `targetPath.insertAfter(attachPropTypesAST);` in at https://github.com/brigand/babel-plugin-flow-react-proptypes/blob/942fbb066543e084987bb28ca4b69fd04c18f699/src/index.js#L112 it runs (but without proptype checking, obviously). I've no idea how to address that, o

[2017-01-06 18:16] BLamy opened #63 "Context types"
Are there any plans to also support Context types?

Currently things need to be done as such:
[code]

I'd prefer to see something like this:

[code]

[2017-01-07 00:12] brigand commented on #63
Duplicate of https://github.com/brigand/babel-plugin-flow-react-proptypes/issues/22

This has come up enough times that it's worth considering. I'd accept a PR if it's put behind a config option, disabled by default.

[2017-01-12 16:34] DJCordhose opened #64 "Never generate isRequired for boolean properties?"
Having these Props

[code]

you will get propTypes so like there, ie.e open will be required:

[code]
However, if you leave open as undefined when calling the component, this is totally fine, with Flow and also with JavaScript. But React now produces an error when no property is passed.

Doing it the other way round, like

[code]

now produces a good definition of propTypes

[code]

but now Flow i

[2017-01-12 17:49] brigand commented on #64
If it's optional, you should guard against it. This is flow doing what it's supposed to do :-)

[2017-01-12 17:54] DJCordhose commented on #64
Can you think of a situation where implicitly converting from undefined/null to boolean would be dangerous?

I have never seen any JavaScript code that would check for null/undefined before using it as a boolean. But of course I might be missing something here.

[2017-01-12 18:01] brigand commented on #64
That sounds like an issue with flow's handling of nullable types.

[2017-01-12 18:04] DJCordhose commented on #64
Possible, but more likely that I am wrong/confused or React handles those booleans strangely. Will think about it...

[2017-01-12 18:05] #64 closed

[2017-01-19 17:11] echenley opened #65 "Bug - runtime error in webpack 2.2.0-rc.4 and later"
See https://github.com/babel/babel/issues/5155

Basically:

[code]

I believe this is the Webpack change which breaks this behavior: https://github.com/webpack/webpack/pull/3755. `module.exports` is now undefined when using ES6 modules.

This output is therefore invalid: https://github.com/brigand/babel-plugin-flow-react-proptypes/blob/master/src/__tests__/__snapshots__/export-object-test.js.snap

[2017-01-19 19:44] brigand commented on #65
@echenley we could skip exporting the types when exports is undefined. Is that sufficient? I don't want to generate es6 modules, except maybe behind a config flag.

[2017-01-19 21:09] echenley commented on #65
Yeah, that works as long as users don't expect to be able to import proptypes when using this plugin? It seems very unlikely that anyone is relying on this:

[code]

[2017-01-19 21:20] #65 closed

[2017-01-19 21:20] brigand commented on #65
Yeah, the incredibly long name and lack of documentation discourages use :-)

Published a fix as 0.20.0. Let me know if you have any more issues.

[2017-01-19 21:21] echenley commented on #65
Perfect, thank you!

[2017-01-20 10:34] sckoh commented on #62
I'm getting the same error as @notjosh too

[2017-01-24 11:45] MoOx opened #66 "Cannot read property 'name' of null"
I have the following error with 0.20.0 (which was not present with 0.10.1

[code]

Here is the file (it's not a react components, but I babelify an entire folder)

[code]

[2017-01-24 16:47] renatorib opened #67 "Don't working with ES6 classes."
With Stateless Functional Components it works perfectly, but my class components don't generate proptypes.

`const Test = (props: Props) => ()` => works
`class Test extends Component<*, Props, State> {}` => dont work
`class Test extends Component { props: Props; }` => dont work

**My test:**

*Input:*
[code]

*Output:*
[code]

---

My .babelrc is:
[code]

[2017-01-31 07:09] Ashoat commented on #67
I am experiencing this as well. Function components work just fine, but my ES6 classes are not being transformed.

[2017-01-31 07:20] Ashoat commented on #67
It seems like this is a dup of #9

[2017-02-01 14:07] orenklein opened #68 "Add support for existential types"
Error is thrown when using existential type - known as the asterisk sign *

[2017-02-02 01:11] #68 closed

[2017-02-02 01:11] brigand commented on #68
@orenklein Thanks for the report. Published as 0.21.0. Let me know if it works for you.

[2017-02-02 11:29] orenklein commented on #68
It is working. Thank you!

[2017-02-03 19:30] renatorib commented on #67
My problem persists...
Tried a bit of tests, but I don't know what happens yet.

[2017-02-03 19:31] renatorib commented on #67
@brigand can you check this?

[2017-02-03 19:56] renatorib commented on #67
I've created hardcoded test:

[code]
that is working.

I think this problem is related how Storybook are using babel config. (some plugin are causing bug, idk)

So, you can close this.

[2017-02-04 00:36] brigand commented on #67
Okay, let me know if something comes out of that other issue that needs to be fixed here.

[2017-02-04 00:36] #67 closed

[2017-02-06 15:10] charlesoconor commented on #66
I'm running into this issue to. I believe it has to do with exporting and anonymous functions. I've just flipped the pluggin of for any file I do this in. It would be great to have another work around.

[2017-02-07 15:53] charlesoconor opened #69 "React.createClass correct usage"
Its says the the readme that this plugin will work with `React.createClass`. Is there an example of how to annotate the object correctly. I've tried
[code]

In the output has the proptypes but isn't connecting them. Any help would be greatly appreciated

[2017-02-07 16:01] brigand commented on #69
I think createClass worked at some point in the past, but we don't have any tests for it, and when I try it I'm not seeing any propTypes generated.

I'm pretty busy currently, but I'd definitely accept a PR adding support for this. For now I'm going to remove it from the readme.

[2017-02-08 20:47] faceyspacey opened #70 "aren't propTypes removed in production anyway?"
I'm wondering because I'm trying to determine the correct usage for an open source package. I'm thinking it shouldn't be set only in development so that users can decide.

[2017-02-08 20:53] faceyspacey commented on #19
+1

what needs to be done to get this working?

[2017-02-09 05:33] brigand commented on #70
Hmm... we might want to add an option for adding a NODE_ENV check so minifiers can strip it for production.

[2017-02-09 05:35] brigand commented on #19
Currently only object types are supported at the top level. It'd require a lot of changes to the code to make this work, and for little gain unless I'm missing something.

[2017-02-10 00:17] faceyspacey commented on #70
yea, but aren't the propTypes removed in production automatically??

[2017-02-10 11:26] brigand commented on #70
Nope. React doesn't check them in production, but they're still in the code.

[2017-02-10 11:26] #70 closed

[2017-02-17 23:48] spikebrehm commented on #62
I'm also getting this error:

[code]

trying to use this plugin on React Native.

[2017-02-17 23:49] spikebrehm commented on #62
Shall we create a new issue for this?

[2017-02-17 23:58] brigand commented on #62
I'll reopen this, but I have no idea how to debug it.

[2017-02-21 02:16] Rovack commented on #62
I figured a good place to start debugging it would be where babylon throws that error, namely the `unexpected` method. I added `this.input` to the error message, and saw that the error is being thrown when going over React Native's [SwipeableListView](https://github.com/facebook/react-native/blob/v0.39.2/Libraries/Experimental/SwipeableRow/SwipeableListView.js) component.

I verified that this is

[2017-02-21 19:02] Rovack commented on #62
Having looked into this a bit more, I'm still not sure what causes the problem (not really sure how to easily see the output the plugin creates), but I do seem to have a minimal reduced case:

[code]

Looks like removing any of these parts (constructor, `_renderRow` as a class property, Props type) makes the problem disappear.
The only exception is `componentWillReceiveProps`: if that part is remo

[2017-02-24 23:24] faceyspacey opened #71 "propTypes are not created if you assign props from a pre-defined type or if you import types from another file"
For example the following won't work:

[code]

whereas this will:

[code]

In addition, if you import types, from other files, the type won't in fact be created in the other file. There will be nothing there. That problem becomes even worse if you're using types imported from packages, e.g. the `react-redux` flowtypes, eg if you're doing something like the following you're screwed:

[code]

So in

[2017-02-24 23:28] faceyspacey commented on #71
my hunch is the 3rd party packages may be challenging to transpile, but you should at least be able to import types in your own code, and at the very least you should be able to assign a `Props` variable/type, rather than define it in place. That last one really will reduce redundancy. Redundancy in the same file is just depressing.

[2017-02-25 19:08] brigand commented on #71
Thanks for the report!

Importing types from other files that are processed by this plugin, and explicitly export a type is a feature of this plugin.

I'll look into these issues when I find time. If you want to take a stab at some of the issues that'd be great!

[2017-04-01 15:10] max-mykhailenko commented on #71
My almost all types based on global `flow-typed`. Because I don't want to duplicate type definition in reducer and for components. And plugin replace all of them by `any` in component `propTypes`. When you plan to improve that? How I can help with it?

[2017-04-02 01:38] brigand commented on #71
@max-mykhailenko supporting flow-typed would be a ton of extra code and require filesystem access, which isn't good in a babel plugin.

If you implement it in a fork, I'll put a link in the readme, but I don't want to maintain that feature.

[2017-04-02 08:24] max-mykhailenko commented on #71
@brigand maybe you know another way to define types across the files, maybe `import` all definitions?

[2017-04-02 09:12] brigand commented on #71
@max-mykhailenko you can import types in flow (`import type {Foo} from '...'`), and in some specific cases that works with this plugin, but only when both files are processed by this plugin and the type is an object.

[2017-04-08 08:18] simonsmith opened #72 "React 15.5 moved PropTypes to separate package"
Detail: https://facebook.github.io/react/blog/#migrating-from-react.proptypes
Package: https://www.npmjs.com/package/prop-types

It currently still works under the `React` object but throws a warning in the console. I suppose a change could be made now and a major version released and nothing would need to change for `16.x`

[2017-04-08 08:29] brigand commented on #72
Thanks! Published as 1.0.0.

[2017-04-08 08:29] #72 closed

[2017-04-11 08:55] verkholantsev opened #73 "Parse error when using plugin"
I've got a file with HOC

[code]

When I try to transpile it with `flow-react-proptypes`, I get this error

[code]

Here is my `webpack.cfg.js`

[code]

When I remove `flow-react-proptypes` or line `props: {}` from input file, the error disappears. Do you have any suggestions about a source of this error?

[2017-04-11 12:20] brigand commented on #73
This is the babel output:

[code]

It actually skips the latest and react transforms, but just for the class. It compiles the `const` to `var`, and if you introduce ES6 right before the class statement that gets compiled.

For now, just disable it for this file with the directive at the top of the file:

[code]

[2017-04-11 17:20] 0x80 opened #74 "Missing props value error points to definition instead of instance"
I noticed that if I create a component like this

[code]

And somewhere down the line I instantiate the component without props like `<A/>`, I get an error in the component source file underlining Props and stating: `[flow] property `msg` (Property not found in props of React element `A` See also: React element `A`)`.

I find this confusing because the error doesn't point to the instance of A but

[2017-04-11 17:41] #74 closed

[2017-04-13 22:09] grabbou opened #75 "Intersection not supported"
With type:
[code]
I am getting error that `Did not find type annotation for xxxx`

Here's file: https://github.com/react-community/react-navigation/blob/master/src/views/Header.js#L31

[2017-04-13 22:32] brigand commented on #75
I put in a hack to make this kinda work. It looks at the last intersection type, and if it's an object, it uses that.

I don't have much time to work on this project, but if you want to implement a better solution, I'd be happy to review it :-)

[2017-04-13 22:32] brigand commented on #75
Published as 1.1.0.

[2017-04-14 06:21] grabbou commented on #73
I can confirm this is happening. Had to turn it off for HOC file.

[2017-04-14 15:32] #73 closed

[2017-04-18 12:42] grabbou commented on #75
Another issue that unfortunately doesn't work is: https://github.com/facebook/react-native/blob/0.43-stable/Libraries/CustomComponents/Lists/VirtualizedList.js#L142

[code]

I'll try to look into that later. Feel free to suggest any intermediate workaround.

[2017-04-18 19:55] brigand commented on #75
@grabbou [disabling it for a given file](https://github.com/brigand/babel-plugin-flow-react-proptypes#suppression) should always make errors go away.

Is this plugin running on things in your node_modules? That's quite unusual and probably something you should disable.

[2017-04-18 20:29] grabbou commented on #75
Yeah, already disabled it, but in React Native, Node modules are transpiled
by default, which causes aforementioned problem.

Anyway, just leaving it here so we have another reproduction! 👌

On Tue, Apr 18, 2017, 21:55 Frankie Bagnardi <notifications@github.com>
wrote:

[2017-04-19 14:21] hlomzik commented on #62
Maybe I should create new issue, but my problem comes from non-relative imports, so may be it's related.
I use webpack's `resolve.modules` array to have paths relative to my source dir. So instead of `../../../types` I could just use `types`. But this break your plugin. Simple hardcoded test:

[code]

`Error: unknown: Did not find type annotation for Test`

And it works if I use `import type { Dat

[2017-04-19 17:23] MrCheater commented on #22
+1

[2017-04-19 18:17] harsimranb commented on #69
`React.createClass` has been deprecared in React 15.5.  https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html.

[2017-04-19 18:22] davidfurlong commented on #75
Getting this issue with

[code]

[2017-04-19 18:28] harsimranb commented on #1
This doesn't work either:

[code]

Thoughts?

[2017-04-19 18:29] davidfurlong commented on #75
Found that adding `props: Props` argument to my constructor resolved the issue. Now to fix the lint error 👍

[2017-04-19 20:10] brigand commented on #69
Yeah, I think we can let createClass die now.

[2017-04-19 20:10] #69 closed

[2017-04-19 20:17] brigand commented on #62
@hlomzik it seems to be fixed. Published as v2.0.0 because this is probably going to break something somewhere. Please test it and let me know.

[2017-04-19 20:24] brigand commented on #1
@harsimranb I don't have much time to work on this project right now, but I'd love a PR adding support for this 😄

[2017-04-20 15:08] nezed commented on #71
I think this issue about [**Types intersection**](https://flow.org/en/docs/types/intersections/) with `&`, not only about importing types.

Here some demo:

[code]

[2017-04-21 01:00] harsimranb opened #78 "React.PropTypes are deprecated. Need to add 'prop-types' library"
I will try to look into this when I have a chance.

[2017-04-21 01:15] brigand commented on #78
@harsimranb this was already addressed, are you having issues on >=1.0.0?

Ref: https://github.com/brigand/babel-plugin-flow-react-proptypes/issues/72

[2017-04-21 01:16] #78 closed

[2017-04-21 01:28] harsimranb commented on #78
Yes, this has been resolved.  It was another library complaining, I misread the error.  Thanks for confirming!

[2017-04-21 06:46] max-mykhailenko commented on #71
After a little bit thinking about problem I decide that propTypes not necessary when I'm using flow. Flow shows all required props and help me call component with right arguments. API errors should be tested by API unit tests and propTypes created not for this.

[2017-04-26 06:12] #62 closed

[2017-04-26 12:37] EnoahNetzach commented on #78
@brigand isn't `require('react').PropTypes` still present in `index.js` [here](https://github.com/brigand/babel-plugin-flow-react-proptypes/blob/v2.1.1/src/index.js#L244) and [here](https://github.com/brigand/babel-plugin-flow-react-proptypes/blob/v2.1.1/src/index.js#L311)?

[2017-04-26 12:44] brigand commented on #78
@EnoahNetzach thanks for pointing that out. I'll fix it.

[2017-04-26 12:45] EnoahNetzach commented on #78
I just did a PR (#81). I'm updating the tests right now ^_^

[2017-05-04 18:45] jedwards1211 commented on #75
@davidfurlong try explicitly declaring polymorphic types i.e. `Component<DefaultProps, Props, void>`.  Recent versions of flow should be reporting an error when you don't declare them anyway

[2017-05-05 07:08] davidfurlong commented on #75
@jedwards1211 thanks mate! Will try that.

[2017-05-08 14:40] IanVS opened #84 "Changelog"
It would be really nice to have some kind of record of changes, especially for breaking changes.

[2017-05-09 02:54] #84 closed

[2017-05-09 02:55] brigand commented on #84
Just generated a low quality one for now; if you want to improve it in any way, that'd be great 😄

[2017-05-12 14:04] fernandopasik commented on #57
Now the output is with require("prop-types") but still this optimization is needed.

[2017-05-18 23:39] limscoder commented on #48
I've been using this for `node` in my flow `children?: React.Element<*>`

[2017-05-22 19:01] apkrasny opened #85 "exports not defined with `modules: false`"
When using babel + webpack with `modules: false` `exports` is not defined. This is because webpack generates a module wrapper with a signature of `(function(module, __webpack_exports__, __webpack_require__) {`. [conditionalExportsAst](https://github.com/brigand/babel-plugin-flow-react-proptypes/blob/0d53ac919779a8e78e8ab2cc7ae6a5336e8771ee/src/index.js#L261) check is always false and named exports

[2017-05-22 19:09] brigand commented on #85
Thanks for the report. What would the expected behavior be here? What code should we generate?

[2017-05-22 20:05] apkrasny commented on #85
Ideally all imports/exports would be done using ES2015 modules, and these would be handled by webpack or transformed by babel further down the pipeline. I am not familiar with babel and don't know if it will traverse generated code.

Alternatively, provide an option between CJS or ES2015 so that the correct code will be emitted.

[2017-05-24 06:59] mhaas opened #86 "Please provide eslint config"
Hi,

is there an eslint file (or similar) for this repo? I'm hacking on #71, #72 and I'd like my stuff to be formatted properly.

[2017-05-24 14:50] mhaas commented on #86
Duh, it's in .eslintrc. Sorry, I got confused with my IDE complaining.

[2017-05-24 14:50] #86 closed

[2017-05-27 06:18] #71 closed

[2017-05-27 06:29] mhaas commented on #75
Should be fixed by #87

[2017-05-27 06:30] #75 closed

[2017-05-27 06:36] mhaas commented on #19
This is working now in 3.0.0; see PR #89

[2017-05-27 06:41] #19 closed

[2017-05-27 07:42] mhaas commented on #1
@brigand Shall we close this as well, or do you want to keep it open for the example given in: https://github.com/brigand/babel-plugin-flow-react-proptypes/issues/1#issuecomment-295379649

FWIW, I never had much luck using variables instead of literals as constants in flow, so I don't know if this works in flow to start with.

[2017-05-27 07:47] mhaas commented on #66
Can you provide a more minimal example which shows this behavior? Ideally, it would be a test case similar to what we have in `src/tests/`

[2017-05-27 08:11] #1 closed

[2017-05-29 07:54] mhaas opened #96 "Exported type annotations with object properties do not work"
Example:

Broken:

[code]

Working:

[code]
Error message:

[code]

The issue here probably is that we pass null as identifier; but in this case, we want to pass the full Foo.Bar expression.

I'll fix this soon-ish.

[2017-05-29 16:44] eugene1g opened #97 "hasReactElementTypeAnnotationReturn() false positivies"
Hi,

[hasReactElementTypeAnnotationReturn](https://github.com/brigand/babel-plugin-flow-react-proptypes/blob/master/src/util.js#L59) is currently too eager - it returns `true` by default. This means that anything that is an `ArrowFunctionExpression` + `has a returnType` will be treated as a React component. For example ` const addOne = (num: number) : number => (num+1)` meets that criteria but it'

[2017-05-29 18:57] eugene1g commented on #97
I think the situation is more nuanced than I first thought because the plugin works very well in many other cases. At any rate, I can use the useful directive of "'no babel-plugin-flow-react-proptypes'" to ignore messy files for now.

[2017-05-29 23:12] brigand commented on #97
@eugene1g thanks for the report. Fixed the bug and published as 3.1.2. Now it requires the function return value annotation to be ReactElement. Is this the right behavior?

[2017-05-30 00:05] eugene1g commented on #97
Awesome! Fixes my use-case right away. Thanks!

[2017-05-30 00:05] #97 closed

[2017-05-30 06:35] mhaas commented on #66
I can reproduce this (or rather, a similar error) and will fix soon.

[2017-05-31 04:57] brigand commented on #66
Fixed in #99, published as 3.1.3.

[2017-05-31 04:57] #66 closed

[2017-05-31 05:22] #96 closed

[2017-06-02 04:20] mhaas commented on #57
Why is the optimization actually needed? Is there an actual, measurable, relevant overhead here?

[2017-06-02 04:22] mhaas commented on #48
I think this should be working these days - if you use a shared exported type, you will get what you need.

[2017-06-02 04:24] brigand commented on #57
Checked webpack output, and it's just an object lookup. Probably the same in browserify. Closing this for now.

[2017-06-02 04:24] #57 closed

[2017-06-02 04:25] mhaas commented on #9
Is there any remaining issue here? Even if I wanted to fix this, I don't know what's broken ;)

[2017-06-02 04:27] brigand commented on #48
@mhaas fixed this, so try the latest version and let us know if you have any issues.

[2017-06-02 04:27] #48 closed

[2017-06-02 04:28] #9 closed

[2017-06-03 08:42] mhaas commented on #63
This shouldn't be too hard.

To understand the additional annotations:

For functional components, we should check if a second parameter to the function exists in `getFunctionalComponentTypeProps()`. For proper component classes, we need to add a check for 'context' along the existing check on 'props' around line 190 in index.js. The `convertNodeToPropTypes` function should stay the same.

To gene

[2017-06-06 11:37] DimitryDushkin opened #101 "export type Something = {}; warning"
Hello! Thank you for great plugin!

With code:
[code]
babel and webpack produces:
[code]

which causing warnings in prop types validation in file which `import type PublicationIdentity` like
[code]

I think this warning appeared because React received `Object` instead of `Function (like PropTypes.shape` in `Component.propTypes`.

It was working fine some version ago, but I cannot find what version

[2017-06-07 04:58] mhaas commented on #101
@DimitryDushkin Can you show us the full generated code on the import side?

[2017-06-07 19:43] rosskevin opened #103 "Support object type spread"
Object type spreads added to flow:
 - https://github.com/facebook/flow/releases/tag/v0.42.0

[code]

Sample repo from another issue:
https://github.com/rosskevin/babel-eslint-473-flow-spread

This requires an update to [`babel-traverse` 6 (requested here)](https://github.com/babel/babel/issues/5812), or use of babel 7.x codeline.

I'm going to give a shot to a PR that supports this based on the `b

[2017-06-08 09:37] DimitryDushkin commented on #101
Here is example repo https://github.com/DimitryDushkin/flow-react-proptypes-example

And here is generated code:
https://github.com/DimitryDushkin/flow-react-proptypes-example/blob/master/src/App.js
[code]

https://github.com/DimitryDushkin/flow-react-proptypes-example/blob/master/src/types.js
[code]

[2017-06-08 10:06] DimitryDushkin commented on #101
In
[code]
should be
[code]

[2017-06-08 11:37] tamoore opened #104 "Suggestion: Add a warning when using React version < 15.5"
It would be good if the plugin could warn you when using it with a react version that is lower then 15.5.

We recently updated this plugin but did not update React and had written a few components that we thought were correctly validated. We discovered after a few hours of investigation the implication of using 1.0.0+ with React < 15.5. (facepalm)

Understandably this was an error and we should ha

[2017-06-08 11:58] brigand commented on #104
Hmm... I'm not quite sure how this would work. An install time warning, compile time, or runtime? Wouldn't you get a compile time error if prop-types isn't installed?

[2017-06-08 12:10] tamoore commented on #104
I didn't get one when compiling with `babel-cli`.

I think probably compile time would be best, the react-app-preset outputs an error because it requires `NODE_ENV` to be set.

https://github.com/facebookincubator/create-react-app/blob/master/packages/babel-preset-react-app/index.js#L50

Works pretty well, be happy to do a pull request for that if you think it's a good idea.

[2017-06-08 14:15] brigand commented on #104
@tamoore oh, so for npm packages? In an app, webpack/etc would error if prop-types wasn't installed.

There are edge cases where you won't have it installed at compile time (peer dep), or would have it installed when dev'ing the package but not have it in the app (dev dep). So for those cases, we'd have to add a config option to disable it.

I'm just going to note it in the readme for now.

[2017-06-08 14:17] brigand commented on #104
Oh, there's already a note in the readme about this.

[2017-06-08 14:41] #103 closed

[2017-06-08 15:08] rosskevin opened #106 "[babel-7] Object type spread failing on imported type from libdef"
`babel-7` branch - I'm looking into this.  `found` is in a local libdef.

[code]

![appframe_js_-_af_-____projects_af__-_rubymine_2017_2_eap](https://user-images.githubusercontent.com/136564/26935685-39cdfd2a-4c32-11e7-8a3f-d17a33b05e54.png)

[code]

[2017-06-08 15:22] rosskevin commented on #106
Problem identified: I expected the `spreadShape` I get from `convertToPropTypes()` to have `properties` that I then flatten and return.  On an imported libdef type the `spreadShape` is `raw`, and doesn't have properties to flatten:

![lib_converttoproptypes_js_-_af_-____projects_af__-_rubymine_2017_2_eap](https://user-images.githubusercontent.com/136564/26936408-40d7b4ec-4c34-11e7-9f46-d7e9a2fd695

[2017-06-08 15:26] rosskevin commented on #106
@brigand I see this marked in code as a `runtime merge`, should this situation be treated like `shape-intersect-runtime`?

[2017-06-08 15:39] brigand commented on #106
I think so, yes.

cc @mhaas (who wrote this code)

[2017-06-08 15:40] rosskevin commented on #106
@mhaas - which test code is best for me to look at for this runtime intersection from a libdef?

[2017-06-08 15:53] rosskevin commented on #106
This seems like a strange situation, as I need to **alter** the imported named type by obtaining the properties only.  The same named type could be used without the spread as-is.

Where I do this manipulation makes sense (when not importing), perhaps someone can shed some light on why we are doing this at `runtime` (if it is really runtime) instead of  transpilation time.  If it is actually `runti

[2017-06-08 15:59] brigand commented on #106
This plugin doesn't read other files, so it doesn't know the types exported from other files until runtime. I'd like to keep it this way, but I'm convincible. @thejameskyle is working on a similar plugin that reads other files (not open source yet, afaik).

[2017-06-08 16:08] brigand commented on #106
Ah, it is open source. https://github.com/thejameskyle/babel-plugin-react-flow-props-to-prop-types

[2017-06-08 16:12] rosskevin commented on #106
Any `es5` runtime will have none of the definitions found in a local libdef, meaning anything a user types themselves for an external library, or everything from the `flow-typed` project.

To me this means the usefulness is severely limited.  In my case, I created a libdef for `found` because they have no intent on using flow type, but I do.   I intended to refine it and submit as a PR to `flow-ty

[2017-06-08 16:56] rosskevin commented on #106
I saw the commentary on inlining types and solving the react-docgen problem, which is also a problem for me.  I'm going to try out that new plugin and see where it leads.

[2017-06-08 17:19] mhaas commented on #106
Can we transpile flow-typed?

[2017-06-08 17:23] rosskevin commented on #106
@mhaas we should be able to interpret flow types from `flow-typed` (or other local libdefs) and create the equivalent prop-types, and this must be done at transpile-time.

[2017-06-08 17:30] mhaas commented on #106
I agree that `flow-typed` is a great target. The libdefs have a different syntax, so that is going to be some work.

Why do we have to process `flow-typed` at transpile time?

[2017-06-08 17:36] rosskevin commented on #106
`flow-typed`, which effectively is just another local libdef, is not available at `runtime`...that is if you are referring to `runtime` as a browser.  `runtime` would need to be on that local filesystem, executed in that working dir to even have a chance to resolve them.

[2017-06-08 23:03] tamoore commented on #104
I don't believe that's the case:

We have a webpack pipeline and we didn't receive any warning/errors.

Certainly agree that the readme note is probably sufficient, if I can confirm that a webpack pipeline will flag the mismatch then it's probably fine.

[2017-06-10 05:33] mhaas commented on #106
@rosskevin We can transpile the local libdef just like we handle type exports. On the import side, the `import type` statement is transpiled into a regular `import` statement (or rather, a `require` call) to include the transpiled libdef - which is now just a regular ES module. Browserify/webpack should then ship that to the UA.

[2017-06-10 06:18] mhaas commented on #106
@rosskevin Can you post your libdef for found? I am still trying to wrap my head around libdefs - I guess the only scenario we need to handle is something like this:

[code]

[2017-06-10 06:20] mhaas commented on #101
@DimitryDushkin On the export side, we nowadays export objects, not shapes - this makes life easier in other parts of the code, namely for intersections involving imported types.

I will check out your example and get back to you. This is supposed to be working :)

[2017-06-10 07:54] mhaas commented on #101
@DimitryDushkin I tried adding a testcase in https://github.com/mhaas/babel-plugin-flow-react-proptypes/commit/34c303e3a676dce9fd1c22e2454c8b804365780b

However, everything works as expected. In your example, you do `import {NestedType}` - this needs to be `import type {NestedType}`.

Can you create a minimum example based on our test suite which shows the broken behavior? It is quite possible tha

[2017-06-10 07:55] mhaas commented on #101
By the way, the incorrect import is also the reason why the transpiled code for App.js shown above does not have any propTypes generated - so it cannot possibly reproduce the issue.

[2017-06-10 12:35] mhaas commented on #106
I found some interesting discussion here:https://github.com/codemix/flow-runtime/issues/27

They apparently have a tool that preprocesses libdefs and makes them available.

[2017-06-12 19:23] rosskevin commented on #106
@mhaas [here is a `found` libdef](https://gist.github.com/rosskevin/0a7e854ccc5cb126cd4410c7e1348000).

It seems with object type spreads in particular, we really don't have a workaround for imported types, which is a huge problem for me now...

[2017-06-13 14:34] DimitryDushkin commented on #101
I've wrote correct `import type`, but nothing changed.

Strange part is that on real project we have multiple bundles, which use common `types.js` and in some bundles `types.js` exports are correct `PropTypes.shape` and in some other bundles there are broken exports of objects (not `.shape`)...

[2017-06-14 04:58] mhaas commented on #101
The correct export is actually an object, not a shape - we have changed that lately, and the exported item is processed differently on the import side as well.

It sounds like parts of your code are transpiled with an older verson of this plugin, while other parts use a current version.

[2017-06-14 05:20] mhaas commented on #106
@rosskevin Thanks!

It would seem to me that we need to do two things to handle import types from a libdef:

* Add support for parsing libdef files, which should be easy
* Integrate the libdef file with the file importing the type from the libdef, either by:
  - Using a module system, just exporting the types from a transpiled libdef and importing them - probably requires the user to add the `flow

[2017-06-14 07:54] DimitryDushkin commented on #101
@mhaas is there "reference project" which is using this plugin? I still didn't get it how to make it work when exported item is object. How to use exported type as PropType of react component?

[2017-06-14 10:17] mhaas opened #110 "oneOfType spuriously forces isExact"
I'm seeing an issue where my non-exact flow annotation would be turned into exact prop types, i.e. proptypes where no additional props may be given.

I never used `$Exact`, so this was quite a surprise.

The reason is this piece of code in `makePropTypesAst`:
[code]

`Array.prototype.map` will pass the index as the second argument to `makePropType`. For anything other than the first array element,

[2017-06-14 12:51] rosskevin commented on #106
Correct.

We also need to crawl/parse *.js.flow files from node_modules, these are untranspiled source files.

[2017-06-20 12:44] blackxored opened #112 "Usage of checkPropTypes"
I'm getting this warning with the latest version from npm:
[code]

[2017-06-20 21:34] brigand commented on #112
Does the warning go away if you disable this plugin? We're not using checkPropTypes or React.PropTypes AFAIK.

[2017-06-20 22:58] blackxored commented on #112
It might have been a caching issue, for some reason the stack was pointing out here. Please feel free to close for the time being. I think it might be related to another error with VirtualizedList in React Native, but I had to rollback to 0.44. Will report if I face this again.

[2017-06-20 23:06] brigand commented on #112
Sure, I'll reopen if you think this plugin is the issue.

[2017-06-20 23:06] #112 closed

[2017-06-21 05:08] #110 closed

[2017-06-25 00:58] arahansen opened #113 "When importing an enum type, prop gets marked as required"
I'm seeing some odd behavior with imported flow types.

For example:
[code]

If I move the Values definition into the same file as MyComp, the prop-types are generated correctly.

Expected Output:
values is an optional prop type

Actual Output:
I see runtime errors that suggest that `value` is a required prop-type:
[code]

Seems this issue could be related to this commit? https://github.com/brigan

[2017-06-25 01:08] brigand commented on #113
@arahansen can you share `values.js`?

[2017-06-25 01:48] brigand commented on #113
@arahansen I think I fixed it. Please give this a try

[code]
If it checks out, I'll publish it.

[2017-06-25 05:10] obartra commented on #113
I repro the issue with the `https://s3.us-east-2.amazonaws.com/brigand-misc/babel-plugin-flow-react-proptypes-3.4.0.tgz` one too

[2017-06-25 05:38] arahansen commented on #113
Yep, looks like I'm still getting the error @brigand

[2017-06-25 05:39] arahansen commented on #113
Let me know if there's any additional debugging details I can provide. I'm not great with AST transformations, so not sure how much help I can be with debugging the plugin directly.

[2017-06-28 15:14] vass-david opened #114 "Exported type includes bloat in transpiled code"
Input
[code]

Output:
[code]

My concern is about this part
[code]

It's added when I want to export type. I can see it in README code as well, but without comment so I don't know what is the real meaning of this code. So my two questions are:
* What is the purpose of this code?
* And mainly, how can I turn it off?

It does not do anything bad in my regular builds, but it's failing my tests for so

[2017-06-29 00:14] brigand commented on #114
Hello. That error is quite odd.

It allows you to export types from one file, import it in another, and use that type in another component's propTypes; e.g. `export type Foo = 'a' | 'b'`, `import type {Foo} from '...'`.

You could try removing the `export` in `export type Props`.

---

I pushed a fix as 3.4.1; let me know if that works.

[2017-06-29 09:10] vass-david commented on #114
@brigand Thanks for quick response. Really appreciate it, since I really like what this plugin does.

In my pipeline I've transpile code to:
* files with stripped flowtypes, so It can be used in non flow code or modules
* files with flowtypes compatible with es5, which are used in other flow modules that use this module
So when I import some exported type, it works perfectly without any special st

[2017-06-29 11:46] vass-david commented on #114
It's not published to npm yet and for some reason It does not work when I install it from github :(.
This is in my `package.json`:
[code]

This is build error:
[code]

I've tried to install with yarn and npm 5 as well, same result.

[2017-07-05 10:48] darekkay commented on #113
FYI, I came across the same issue today, version 3.3.0.

[2017-07-10 14:08] vass-david commented on #114
Any update here?

[2017-07-10 14:18] brigand commented on #114
You can't install from git because there's a build step.

[2017-07-10 15:35] rosskevin opened #115 "babelPluginFlowReactPropTypes_proptype_Element is not defined"
Source:

[code]

Usage is causing:

[code]

/see https://github.com/callemall/material-ui/issues/7400

Does use of the DOM `Element` require an explicit `import type` for compatibility with this plugin?

[2017-07-10 15:46] rosskevin commented on #115
It seems like we are missing a declaration or require for

Here is the entire build file for that:

[code]

Nowhere in this file is `babelPluginFlowReactPropTypes_proptype_Element` declared or required.

[2017-07-10 15:49] rosskevin commented on #115
Compared to when we encounter `import type { Element } from 'react'`, which generates:

[code]

It seems like this plugin isn't recognizing global types from the dom.  Am I on the right track?

[2017-07-10 16:00] brigand commented on #115
Yeah, we don't have a list of global types.

So, currently the solution is:

[code]

This does an instanceOf check.

[code]

Are you thinking to have a list of global types flow supports, and do instanceOf checks on them if no type with that name is imported or defined?

[2017-07-10 16:01] rosskevin commented on #115
Thanks for the workaround.  I was wondering what to do, it seems a bit overzealous to interpret as a global if not defined, but I guess that's how it works in the browser anyway.

So, I think implementing a whitelisted set of globals could be the correct solution here.

[2017-07-10 16:05] rosskevin commented on #115
It seems the workaround didn't work.

Source:

[code]

build:

[code]

[2017-07-11 06:42] lmonilsson opened #117 "Spreading args in inner anonymous function causes error "Cannot read property 'file' of undefined""
I originally reported this issue as https://github.com/babel/babel/issues/5901, but they redirected me here after I had tracked down what babel settings causes the problem. The cause is https://github.com/brigand/babel-plugin-flow-react-proptypes/blob/master/src/util.js#L37. It should use `Path#traverse` instead of the `babel-traverse` package.

I have a test case at https://github.com/Lajnold/bab

[2017-07-12 10:32] vass-david commented on #114
I see it's in npm now anyway and it works! Thanks a lot!

[2017-07-12 15:12] #114 closed

[2017-07-17 18:43] faceyspacey commented on #71
By the way, this issue still occurs if you don't put the flow types before they are used.  Typically with Flow it doesn't matter what order the types come in (they are hoisted), but with the babel plugin, they have to be defined before used.

Not the biggest issue, but worth mentioning. The previous fix for intersections seemed to fix the main problem.

[2017-07-29 13:27] dagda1 opened #119 "defaultProps not recognised"
If I have a component like this:
[code]

I am setting onClick to have a defaultProp with `onClick = identity,` but I still get a warning:

[2017-07-29 22:52] brigand commented on #119
Hello,

You should set `Button.defaultProps = { onClick: identity }` or make the prop optional: `onClick?: identity<*>`.

Closing for now, but I can re-open if you have a proposed change.

[2017-07-29 22:52] #119 closed

[2017-07-30 09:33] dagda1 commented on #119
@brigand I think this is my misunderstanding, I thought if the Prop was required then supplying a defaultProp would fill that requirement.  Is this not the case?

[2017-07-31 04:17] brigand commented on #119
@dagda1 not as far as React's concerned. It doesn't know that you're defaulting the prop **inside** the component. You have to use its api (`C.defaultProps`) to define defaults, which is checked before `C.propTypes`.

[2017-07-31 19:00] rosskevin opened #120 "Adding `export` to `type Props` causes unnecessary package growth through duplication"
https://github.com/callemall/material-ui/pull/7609

When adding a simple `export` to `type = Props`, the entire prop generation is duplicated for the export statement and the assignment to prop types.

_note: that we add a plugin to put the env conditional in place to reduce package size as much as possible, that's why you see the check against 'production'_

## Before

[code]

## After adding `ex

[2017-07-31 19:05] rosskevin commented on #120
`export-type-and-component-test.js` proves this as-is, so I'll see if I can improve on it.

[2017-07-31 19:09] rosskevin commented on #120
Any pointers here are welcome, I don't have a bunch of time to spend here and I'm already lost.

[2017-07-31 19:15] rosskevin commented on #120
The right fix for this is:

[code]

[2017-07-31 19:45] rosskevin commented on #120
As far as I can tell, these comments point to what needs to be done:
https://github.com/rosskevin/babel-plugin-flow-react-proptypes/commit/4cc536d6bfd49805cca054b7fe5c7b3f25682a96

My primary constraint is that I don't know babel ast, otherwise I think this might be solved quickly.

[2017-07-31 22:45] rosskevin commented on #106
Just a quick note, I can see that https://github.com/thejameskyle/babel-plugin-react-flow-props-to-prop-types/blob/master/fixtures/imports/code.js is importing types from other files.  This does not cover libdefs, but it is cross-module.  Source seems to be [`_convertImportSpecifier`](https://github.com/thejameskyle/babel-plugin-react-flow-props-to-prop-types/blob/master/src/convertTypeToPropTypes

[2017-08-01 02:33] #120 closed

[2017-08-01 19:02] rosskevin opened #122 "Feature: option to omit equivalent `export type` generation from runtime output"
@brigand - after I added #121 to minimize bloat, I need one more thing.

I'm only using `export type Props` for flow purposes, and users of the material-ui lib can use/extend the export `type Props` in their higher level components via flow only (through the `*.js.flow` shadow files).  The side effect is that one reference remains from the export statement in the runtime so it retains the prop typ

[2017-08-02 01:32] #122 closed

[2017-08-02 19:09] rosskevin commented on #106
I've determined that importing from a libdef might be too ambitious near term, but importing cross-module from js source code seems plausible based on the code I found above.  I can't dedicate the time at the moment, but if someone wants to give it a shot, I think the code pointers above will get it done.  If I have time, I'll get to it.

[2017-08-16 18:17] echenley opened #124 "Support Flow 0.53.0"
Flow 0.53.0 removes the `DefaultProps` argument in the `React$Component` generic, and is now simply `React$Component<Props, State>`. https://medium.com/flow-type/even-better-support-for-react-in-flow-25b0a3485627

I believe this line needs to change to `path.node.superTypeParameters.params[0]`:
https://github.com/brigand/babel-plugin-flow-react-proptypes/blob/master/src/index.js#L221

[2017-08-16 19:01] brigand commented on #124
Attempted fix: https://github.com/brigand/babel-plugin-flow-react-proptypes/pull/125

[2017-08-16 19:56] #124 closed

[2017-08-19 13:01] UchihaVeha commented on #106
babel-plugin-react-flow-props-to-prop-types - work with imports but dosn't work with object spread
this module work with object spread but dosn't work with imports type from other modules.
Someone have solution?

[2017-08-21 11:21] #101 closed

[2017-08-22 22:52] rosskevin opened #126 "[package.json] build is including inline sourcemaps"
The [build script](https://github.com/brigand/babel-plugin-flow-react-proptypes/blob/master/package.json#L9) needs to start with something like `NODE_ENV=production` to prevent debugging sourcemaps from being included in the package.

Currently stack traces refer to invalid code.

I'll probably fix this as I work on (likely) a PR to help support 0.53.1

[2017-08-22 23:11] rosskevin opened #127 "Incorrectly processing recompose style HOCs"
This is a little sticky so I'm debugging trying to figure out why.  Ultimately, this was found because we aren't importing types from other files for object type spreads (issue #106), but it still doesn't seem like we should be visiting the options for a HOC.

[Source file](https://github.com/alienfast/material-ui/blob/d3d903b2df780ef0cdd05b0b38e8c7fdfb756d5f/src/styles/withStyles.js#L49)

[code]

[2017-08-23 00:37] rosskevin commented on #127
The resulting output of the HOC seems to be correct, so this is just down to the #106 issue.

[2017-08-23 00:37] #127 closed

[2017-08-23 00:41] rosskevin opened #128 "0.53 changes and weak mode"
`flow-upgrade` effectively turned weak components into

[code]

This causes this plugin to fail with:

[code]

I'm not sure what to do, but we need to ignore suppressed annotated types.  Removing the `<$FlowFixMeProps, $FlowFixMeState>` leads to a slew of other errors requiring `$FlowFixMe suppressions`.

[2017-08-23 00:42] rosskevin commented on #128
BTW, `weak` mode still works, but the built-in react libdef requires the type parameters, so it is a little stricter than before.

[2017-08-23 00:43] rosskevin commented on #128
This can be worked around with `extends React.Component<any, any>`, so is this just new information or do we need to change anything in the plugin?

[2017-08-23 00:56] brigand commented on #128
Should we test for the type identifier starting with `$FlowFixMe` and interpret it as `any`?

[2017-08-23 00:58] rosskevin commented on #128
I think that is a good idea.  It's not foolproof but it's going to work for the majority.

[2017-08-23 01:01] #126 closed

[2017-08-23 01:01] brigand commented on #126
Fixed in 5.0.1. I look forward to your PR 😄

[2017-08-24 02:24] rosskevin opened #129 "Checks could be more accurate/concise for flow 53 componentType"
[code]

This means any of a string, Component, or Stateless functional component is ok.

It generates:

[code]

Which is effectively:

[code]

I think we could more accurately and concisely limit this to

[code]

Similarly, the same could be said for `Element`.

This isn't a show stopper but nice to have.

[2017-08-24 03:04] #129 closed

[2017-08-24 03:05] brigand commented on #129
Good idea! Published as 5.1.0.

[2017-08-24 03:09] brigand commented on #129
Oops. I just realized I forgot to check the imported identifier's name (ComponentType). 5.1.1.

[2017-08-28 11:41] k15a opened #130 "Not working for Component<Props> with Flow 0.53.0"
The second type argument of Component is optional and can be omitted when the component doesn't have state:

Working:
[code]

Not working:
[code]

[2017-08-28 13:00] #130 closed

[2017-08-28 13:01] brigand commented on #130
Thanks! [Silly mistake](https://github.com/brigand/babel-plugin-flow-react-proptypes/commit/0eade4568dc9fa1b748670f66be06ade64d17feb). Released as 5.1.2.

[2017-09-06 14:10] rosskevin commented on #106
@UchihaVeha - that is the exact case for this issue, it does not import the type from another file so it is null and fails.  If type `TodoView` were in the same file, it would work.

[2017-09-12 15:18] ghickman opened #131 "Void Union Prop Types marked as Required"
When setting up a prop type as:

`foo: Foo | void`

I get the following warning in my console:

I can make the warning go away by changing the prop definition to:

`foo? Foo`

but of course this changes the meaning of my type def.

[2017-09-13 06:48] nvie commented on #131
To generalize the example a bit:

    {
      foo: x | y | null,  // will correctly be marked optional
      bar: x | y | void,  // won't be marked optional, but it should
    }

[2017-09-14 18:43] brigand commented on #131
Thanks for reporting this. Sorry for the delay, fixed in 5.1.3.

New behavior:

Input:

[code]

Output
[code]

Please give it a try and let me know if there are any issues!

[2017-09-15 06:56] nvie commented on #131
Thanks for the quick fix, @brigand – really appreciated!  After reading the patch I was convinced it would work, and it does… as long as we use the union syntax with the void literal in it.  However, in our code base, we're using a custom type alias for this, defined as follows:

    type Maybe<T> = T | void;

Which still makes this a problem for us, as the AST traversal will not take the `UnionTy

[2017-09-15 20:03] brigand commented on #131
@nvie it seems we don't support `type X<T>` at all. I don't have time to implement it, but I'd love a PR.

[2017-09-19 21:38] oliviertassinari opened #132 "We have found a regression introduced between 5.1.1 and 5.1.3."
Here is the falling case: https://github.com/callemall/material-ui/pull/8206

    at annotate (/tmp/material-ui/node_modules/babel-plugin-flow-react-proptypes/lib/index.js:89:13)
    at PluginPass.ClassDeclaration (/tmp/material-ui/node_modules/babel-plugin-flow-react-proptypes/lib/index.js:202:18)
    at NodePath._call (/tmp/material-ui/node_modules/babel-traverse/lib/path/context.js:76:18)
    a

[2017-09-20 01:14] #132 closed

[2017-09-20 01:15] brigand commented on #132
Thanks for the report. Fixed in 5.1.4.

The issue was `React.Component<Object>` where it didn't know about `Object`. New behavior is to not generate any propTypes in that case.

[2017-09-20 07:05] oliviertassinari commented on #132
@brigand Thanks a lot!

[2017-09-21 11:10] robwise commented on #128
Maybe it should do this for all `suppress_type`s in the `.flowconfig`?

[2017-09-21 11:18] robwise opened #133 "Flow 0.53.0 Component Annotations Break When Importing Props"
Hi, thanks for this plugin, been using it for 1.5 years now! I'm bumping flow on my project (was pre-0.53.0), but I'm getting an issue in these weird cases where we've had to import the props from a different file and are using the new class annotations.

[code]

This throws when compiling:

<details>
[code]
</details>

(This is on version 5.1.4, with flow 0.54.0)

[2017-09-21 11:37] #133 closed

[2017-09-21 11:41] brigand commented on #128
I'd rather not be reading files within a babel plugin. We could expose an option mapping types to `any` in the babel config. Open to having my mind changed.

[2017-09-21 12:12] robwise commented on #133
Wow, amazing!

[2017-09-27 21:30] rosskevin opened #134 "0.53+ react types invalid when type import is inlined"
I'm using the new types, and getting invalid errors, only when I inline the `type` import.

e.g.

[code]

[code]

[code]

When I `import type { Node } from 'react'` then I get something more appropriate:

[code]

An easy workaround is to not use inlined imports; it took me a while to find this.  Not sure how hard this would be to fix but I'm happy to just _not_ use inlined.

[2017-09-28 09:05] brigand commented on #134
@rosskevin thanks for the report. Would you like it to behave exactly the same as the `import type { Node } from 'react'` result?

[2017-09-28 12:06] rosskevin commented on #134
Yes, they are identical in intent.

[2017-10-06 13:07] DimitryDushkin opened #136 "React.Node problem"
React.Node (https://flow.org/en/docs/react/types/#toc-react-node) was introduced in flow 53 as universal type for react render return type. Using this type follows to such warning:
[code]
Which is true, because this type provided only by flow.

I guess `React.Node` should be replaced by plugin to something like `PropTypes.element`?

[2017-10-06 13:20] DimitryDushkin commented on #136
Issue resolved by replacing
[code]

By still this type transforms to any.

[2017-10-06 18:18] #136 closed

[2017-10-06 18:18] brigand commented on #136
Thanks for the report! Published as 6.0.0. Let me know if it works for you.

[2017-10-16 14:40] goodmind commented on #106
Any progress here?

[2017-10-18 16:31] dalexand opened #137 "Add an option to preserve documentation comments"
Please add an option to preserve documentation comments in output proptypes.

An input example:

[code]

An output:
[code]

[2017-10-18 17:10] alcferreira opened #138 "PropTypes based on constants"
Hey folks!

I want to validate if a property is one of a set of types or values:
[code]
This works fine and compiles to:
[code]

________________

However I have a file where I define my constants. So I have something like this:
[code]

[code]

This compiles to:
[code]

In other words it sets `PropTypes.any` :(

[2017-10-20 13:06] brigand commented on #138
@alcferreira thanks for the report! I suppose we could add extra conditions to the prop type checking for primitive values, but shouldn't you be doing `import { type AlertType } from '...'` and doing `type: AlertType`? I don't think we currently handle `$Keys` either.

I won't have time to work on this in the near future, but I'd love a PR for supporting either of these cases.

[2017-10-20 13:37] alcferreira commented on #138
Yeah... I tried to use `AlertType` as well and got another output that wasn't correct for this case either...

[2017-10-25 12:35] dalexand commented on #137
There is no way to write comments with babel-type. Required api will be added in babel 7.
See [https://github.com/babel/babel/issues/5897](url)

[2017-10-25 19:43] #137 closed

[2017-10-25 19:45] brigand commented on #137
Good idea, I think it's the best default behavior. Published in 7.0.0.

It only works for comments directly before object type properties, so e.g. `filter: /* x */ object` would lose the comment, but your examples would preserve it.

[2017-10-26 01:29] lvdang opened #139 "Causing issue with StateType for Flow v57.3"
This bug: https://github.com/facebook/flow/issues/4707 was logged to address similar issue I ran into.

Removing: flow-react-proptypes made those errors go away in .babelrc as note by the author.

Is there an issue with this npm with State Type?

[2017-10-26 02:12] brigand commented on #139
@lvdang thanks for the report! Could you give a full code sample that reproduces the issue so I have something to test from?

I tried this:

[code]

And it correctly produced `Table.propTypes = {}`.

[2017-10-26 07:41] lvdang commented on #139
@brigand hope this helps:

import * as React from 'react';

type PropsType = {
  name: string,
};

type StateType = {
  team: string,
};

export default class HelloName extends React.PureComponent<PropsType, StateType> {
  state = {
    team: 'niners',
  };

  render(): React.Node {
    return (
      <div>Hello Badge Test</div>
    );
  }
}

[2017-10-26 19:04] brigand commented on #139
@lvdang that produces this, which looks right to me.

[code]

[2017-10-26 19:45] lvdang commented on #139
@brigand  I failed to mention to you, HelloName was wrapped in an HOC.  That was my fault. Does that cause issues if class HelloName() wrapped in HOC?

[2017-10-26 19:50] brigand commented on #139
@lvdang could you give the code sample with the HOC wrapper that shows the problem?

I'm not sure if we handle HOCs properly. I don't have a lot of time to put into this project currently, so proper HOC support might have to wait, but I can at least get it to not cause a warning.

[2017-10-26 21:38] lvdang commented on #139
Summary: When createElement is called refer to this declaration: var element = ReactElement.createElement.apply(this, arguments); below with
arguments: arguments: [class HelloName { propTypes: team }, {name: 'niners'}]. When the createElement is created, the class HelloName has a propTypes
attached to it "propTypes: team". I believe this is why we are getting the warnings.

Stack Trace:

checkReac

[2017-10-26 21:39] lvdang commented on #139
`Summary: When createElement is called refer to this declaration: var element = ReactElement.createElement.apply(this, arguments); below with
arguments: arguments: [class HelloName { propTypes: team }, {name: 'niners'}]. When the createElement is created, the class HelloName has a propTypes
attached to it "propTypes: team". I believe this is why we are getting the warnings.

Stack Trace:

checkRea

[2017-10-27 00:29] lvdang commented on #139
@brigand - A screen shot for the stack trace...

<img width="1498" alt="statictype-backtrace" src="https://user-images.githubusercontent.com/7051557/32082829-1d2c3c90-ba73-11e7-9915-c42c6da62de8.png">

[2017-10-27 05:16] brigand commented on #139
I have no idea what you're trying to convey in that post. I'm going to close this for now, but I'll reopen it if you can provide code that allows me to reproduce the issue.

[2017-10-27 05:16] #139 closed

[2017-10-27 16:37] rsolomon opened #140 "Any way to quell the logspam for type comments?"
I suspect this is a config issue with WebPack and not this plugin, but it only started happening after the fix for #137 (v7.0.0) was released that I started seeing it.

Specifically, my devserver log outputs all of the preserved comments:

[code]

Is there any way to disable this? It provides, as far as I can tell, absolutely no value.

[2017-11-03 22:52] echenley opened #142 "`any` proptype should not be marked as required"
In the following example, `foo` probably should not be marked as required:

[code]

[2017-11-03 23:53] brigand commented on #142
@echenley thanks for the report!

Playing with the flow repl a bit, it seems that the correct check would be:

[code]

This means that the prop is required, but may have the value `undefined` or `null`.

Want to try implementing it? If not, let me know, and I'll try to find time soon.

For now, use `type Props = { foo?: any }`, which should behave the same in flow and this plugin, and is more ofte

[2017-11-06 19:47] echenley commented on #142
@brigand In my case, using `foo?: any` was causing flow issues with other types, e.g.:

[code]

I put up a PR!

[2017-11-07 00:13] #142 closed

[2017-11-07 22:53] blackxored opened #144 "Expected instance of String, received String"
I'm suddenly getting this kind of errors. Was there a breaking change I wasn't aware of?
Using both 9.x.x and 3.4.0.
Thanks in advance.

[2017-11-08 04:23] brigand commented on #144
@blackxored what errors?

[2017-11-08 04:24] brigand commented on #144
Oh in the title. Could you give the full error and a code sample that shows the problem?

[2017-11-08 07:57] k15a commented on #144
You probably used the uppercase `String` instead of the lowercase `string`. The difference is that the uppercase one is for `new String('hello')` and the lowercase one is for the normal `'string'`.

[2017-11-08 08:05] blackxored commented on #144
You're right, that's probably it. I've been working with GraphQL and that seems like someone I'd do 😂

[2017-11-09 01:39] brigand commented on #144
Good catch. Closing this for now.

[2017-11-09 01:39] #144 closed

[2017-11-09 08:06] #104 closed

[2017-11-15 15:59] marcind commented on #142
I think this change causes a problem for the following case:

[code]

[2017-11-15 18:11] echenley commented on #142
@marcind I put up a PR. Can you check if that works well for you?

[2017-11-15 18:50] marcind commented on #142
@echenley did not run the updated code but looking at the test case coverage, this seems like it should work as I would expected
[code]
to result in
[code]
i.e. the behavior before the [first PR](https://github.com/brigand/babel-plugin-flow-react-proptypes/pull/143)

So :shipit:

[2017-11-16 18:37] brigand commented on #142
For completeness of this thread, this is the new test echenley added. It handles both cases properly.

[code]
[code]

[2017-11-23 03:03] marcind opened #146 "Null reference on export default anonymous function"
Flow: 0.59.0
babel-plugin-flow-react-proptypes: 9.1.0

I have an HOC that looks like this
[code]
and causes a `Cannot read property 'name' of null` on this line: https://github.com/brigand/babel-plugin-flow-react-proptypes/blob/0bb901a8b21f759b941540e2d6ae644c3aec52f7/src/index.js#L89

Some quick monkey-patched logging indicates that for the above code snippet, the path.type is a [FunctionDeclarat

[2017-11-23 03:20] brigand commented on #146
@marcind with the way the code works currently, we can't really support this. It could either silently fail, or give a better error message. Not sure which is least bad.

[2017-11-23 04:08] marcind commented on #146
I know next to nothing about how Babel works, but is the problem that with an anonymous function there's nothing to attach the `propTypes` property to? What about transforming the tree into something like

[code]

Given how an error is already thrown, I'd vote for an error message that actually means something and suggest how to work around the problem (i.e. use a named function or don't use defau

[2017-11-23 04:12] brigand commented on #146
Yeah, we append a statement that attaches propTypes. Doing it inline is a mess with function declarations and class declarations, which would have to become expressions. We could do it smarter, but I don't have a lot of time to work on this currently. I'll add a better error message for now. Pull requests welcome.

[2017-11-23 04:16] #146 closed

[2017-11-23 04:17] brigand commented on #146
Improved the error message. Published as v9.1.1

[2017-11-23 04:29] marcind commented on #146
👍 +1 works great, would use again.

Including the message "babel-plugin-flow-react-proptypes attempted to add propTypes to a function/class with no name" for future searchability if anyone encounters this error. The solution is to export a default _named_ (as opposed to anonymous) function/class

[2017-11-29 23:50] rsolomon opened #147 "Support `React.ElementProps`"
Flow provides a method for obtaining a component's prop types called `React.ElementProps` ([documentation here](https://flow.org/en/docs/react/types/#toc-react-elementprops)).

`babel-plugin-flow-react-proptypes` does not recognize usage, resulting in a transpilation error along these lines:

[code]

[2017-11-30 02:01] brigand commented on #147
@rsolomon thanks for the report!

I'm not quite sure what we should do in this case. Could you give an example of how you're using this type in your code?

[2017-11-30 02:11] rsolomon commented on #147
For example, the material-ui library uses the `withStyles` HoC for most components. This HoC modifies the exported component's properties. For example:

https://github.com/mui-org/material-ui/blob/v1-beta/src/Menu/MenuItem.js

The component itself takes in `Props` and `ProvidedProps`, but the output only requires a diff of `Props` and `DefaultProps`. Using `React.ElementProps<typeof MenuItem>` wou

[2017-11-30 03:26] brigand commented on #147
@rsolomon does this look right?

Input:

[code]

Output:

[code]

Are there other situations I'm missing?

[2017-11-30 04:00] rsolomon commented on #147
That's correct in that scenario, though usually I've been using the props for compositions. Ex:

[code]

With the expected output being:

[code]

[2017-12-01 05:11] brigand commented on #147
@rsolomon I implemented it for this case:

[code]

Published as 9.2.0. I don't know when I'll have time to implement the intersection case. If you're interested in implementing this, a PR would be great!

If you take it on, you can use `./scripts/runOnFile example.js` while developing.

[2017-12-01 18:04] haf opened #148 "Cannot redefine property: babelPluginFlowReactPropTypes_proptype_Action"
[code]

When I upgraded this lib from 5.1.2 to 9.1.1

It doesn't say what line of code I have to change, and I can't change all of them.

[2017-12-02 05:24] brigand commented on #148
@haf can you show the file this occurs in, and run `npx babel src/whatever.js` and show the output?

[2017-12-03 15:30] haf commented on #148
It happens across the largest batch of files in the project; I expect it's because every file is exported with star.

[code]

and each actions has

[code]

But since it's across so many proprietary files, I can't be certain, especially as the exports are not actually used by react components.

[2017-12-03 17:25] brigand commented on #148
Thanks for the info. I think the issue is that the two actions.js files are exporting a type with the same name. Is that the case?

This may have broken it: https://github.com/brigand/babel-plugin-flow-react-proptypes/pull/141

[2017-12-03 19:16] haf commented on #148
Yes, they all export the same `type Action`.

[2017-12-03 19:25] brigand commented on #148
Reverted #141 and published as 10.0.0. Let me know if it works out.

[2017-12-03 19:25] #148 closed

[2017-12-04 08:42] haf commented on #148
Works perfectly! Thank you!

[2017-12-05 23:43] rsolomon opened #149 "Compatibility with Babel 7?"

[2017-12-05 23:44] rsolomon opened #150 "Compatibility with Babel 7?"
I can't quite get this to work with Babel 7. I know it explicitly lists babel@6 as a dependency, so that may be the root of the issue.

I am able to get it to compile, but it gets hung up on imports that don't seem to exist.

[2017-12-06 16:43] brigand commented on #150
@rsolomon hey, thanks for bringing this up.

I'm having trouble finding migration documents for plugin authors. From what I can tell, it's still in beta. Might be best to wait for a stable release.

Could you give the exact errors you're getting, and the related code?

If you want to experiment with it, I'd love any information you can provide. If we can get it reasonably working on both babel maj

[2017-12-06 16:44] rsolomon commented on #150
Yep I'll try to give it a look this week. It is still in Beta, but word on the street is that it'll be heading toward a stable release shortly.

[2017-12-06 20:20] oliviertassinari commented on #149
duplicate

[2017-12-06 20:24] rsolomon commented on #149
How in the hell... lol. Sorry about that. Closing for #150

[2017-12-06 20:24] #149 closed

[2017-12-11 22:17] #63 closed

[2017-12-12 19:37] sohkai commented on #70
@brigand Was this ever implemented? AFAIK consumers of a library won't be able to run babel plugins like [babel-plugin-transform-react-remove-prop-types](https://github.com/oliviertassinari/babel-plugin-transform-react-remove-prop-types) on their imports unless they get messy with their `node_modules` so the only chance they have of stripping out prop types would be if the library had their prop t

[2017-12-12 21:13] brigand commented on #70
Yeah, we could add this, and since `require('prop-types')` is inline, it'll get hit by dead code elimination. I'll be pretty busy the next few days, but I'll add a reminder to do this if no one gets to it first.

[2017-12-13 15:46] sohkai commented on #70
Cool! I don't mind helping out if you need some :).

[2017-12-13 18:21] brigand commented on #70
@sohkai I'd love some help!

[2017-12-14 00:53] danilobuerger opened #152 "Not working with react-native"
I created a boilerplate react-native project with `react-native init`. Then I modified the following files:

`.babelrc`
[code]
`package.json`
[code]
`App.js`
[code]

However, this does not generate the `propTypes`:
[code]

[2017-12-15 07:39] brigand commented on #152
It would generate propTypes for that file, but there seems to be a conflict with some other plugin.

[2017-12-15 07:49] danilobuerger commented on #152
@brigand Sure. However, this happens with a fresh, nearly unmodified (see above) react-native project. If supporting react-native is in scope, which I deduced from the mentioning of it in the README.md, this should be fixed here, yes?

[2017-12-15 09:47] brigand commented on #152
Yeah, I'd like to support this.

I tried to reproduce with that config, but it produced the correct output.

Babel config:

[code]

For some reason, it was giving an error when jsx was used, so I ran it against this:
[code]

And it produced

[code]

I assume there's some other code in the build system adding the `_wrapComponent('App')`.

If you can get it so that I can reproduce the issue and be a

[2017-12-15 10:03] danilobuerger commented on #152
Thanks @brigand
I created a repos here: https://github.com/danilobuerger/babel-plugin-flow-react-proptypes-test

Just clone and then:
[code]

Accessing `http://localhost:8081/index.bundle?platform=ios&dev=true&hot=false&minify=false`

will give you:

[code]

Are you able to reproduce this?

[2017-12-15 11:40] brigand commented on #152
Thanks! That project was very helpful.

Based on the code that generates, it's actually using a different config than the one you're specifying.

[code]

After quite a bit of debugging, I got it working by injecting `static propTypes = {}` into the class definition (which is actually a class expression by the time this plugin runs), and in your sample project it produces:

[code]

You have to enab

[2017-12-15 11:40] #152 closed

[2017-12-15 13:55] danilobuerger commented on #152
Awesome. Thank you @brigand !

I updated the test repos, it works there and also triggers a propType warning in the UI, as `test: string` is missing from App.

Also tested in a real rn project, works there as well.

For anyone else finding this, if you use react-native, your babelrc should be:

[code]

[2017-12-16 03:12] sohkai opened #154 "Add an option for adding NODE_ENV checks for minifiers"
Consumers of a library should be able to access the library's proptypes in dev builds, but then be able to seamlessly strip them out for production.

See conversation on https://github.com/brigand/babel-plugin-flow-react-proptypes/issues/70#issuecomment-278551711.

[2017-12-16 09:52] marudor commented on #150
7bd55cb6d1c88fa9571c6055f40c9eaafea75004 should've enabled Babel7 support.
Released with 11.2.0

[2017-12-16 21:29] #150 closed

[2017-12-18 06:15] sohkai opened #157 "Importing type from local file is left unresolved by rollup"
In ComponentA.js:
[code]

This gets transpiled with the plugin to:
[code]

Now in ComponentB.js:
[code]

This gets transpiled with the plugin to:
[code]

This `require('./ComponentA')` doesn't seem to get picked up by rollup, making it break bundled builds. Not sure if this is actually fixable here, since I would think it's rollup's job to figure how the `require()`s should be linked, but wonderin

[2017-12-18 08:46] sohkai commented on #157
I assume rollup should be noticing `require('./ComponentA')` and replacing it with a proper link to the bundled module, but instead it's leaving it alone. If I replace `require('./ComponentA')` with `babelPluginFlowReactPropTypes_proptype_ComponentAType$1`, everything works.

This might have something to do with rollup not supporting `require()` natively (it just assumes ES6 imports / exports), bu

[2017-12-20 19:42] aij opened #158 "Type aliases shouldn't be mandatory"
While trying to get this plugin to work, one of the issues I encountered is that it seems to require superfluous [type aliases](https://flow.org/en/docs/types/aliases/).

If the type is passed directly to `React.Component<>` then no `propTypes` are generated. No error or warning is given either, so it would be very easy for someone to accidentally break runtime prop checking through a perfectly re

[2017-12-21 00:07] Andarist opened #159 "Insert require/import statements at the top"
It's vital for libraries being published also in es6 modules format that they do not have any `require` calls in their source code. In addition it should be slightly quicker in commonjs environment to have this cached once per file instead of loading for each prop type.

[2017-12-21 15:06] brigand commented on #159
Thanks for the report! I'd like to support this.

I think the ideal is to have the three options available: single `import`, single `require`, inline `require`.

The benefit of inline require is in combination with the `deadCode` option when the output is a common.js module. That's a recent addition; previously it was done as the easiest implementation.

My thought is a config option for targeting

[2017-12-21 15:16] #158 closed

[2017-12-21 15:17] brigand commented on #158
Thanks for pointing this out and the test case. Fixed in 13.0.0.

[2017-12-21 15:54] Andarist commented on #159
I was wondering about `deadCode` - it seems this is overlapping with `transform-react-remove-prop-types` but you describe how to use both at the same time and I'm a little bit confused about this.

Back on track - it would be super sweet to detect module format used by the file. `babel@7-beta` has a [helper module for inserting appropriate imports](https://github.com/babel/babel/tree/master/packag

[2017-12-21 17:10] brigand commented on #159
We'll find a way to support 6 and 7 when 7 comes out as stable. I remember babel not supporting adding imports in plugins, not sure if they fixed that in the 6.x line.

I'm going to remove the mention of the remove-prop-types plugin once `deadCode` is fully implemented. We do some extra code generation besides the `.propTypes =` line, which also needs to be stripped.

We could try to detect module

[2017-12-21 17:35] brigand opened #160 "Union + Intersection"
Ran into this with the following code:

[code]

[2017-12-25 23:51] Andarist commented on #159
Majority of react files should have React in scope to use jsx transform, it could be followed to its declaration to check which syntax was used. If you don't want to use babel's approach at the moment I don't really see any other approach than trying to guess based on the used syntax.

Not sure if I know what do you mean.

Having some other priorities in other OSS projects right now, but if I mana

[2017-12-26 17:51] rsolomon opened #161 "v13 removes support for Props declared inline"
I've got a bunch of files that are declared like this:

[code]

After upgrading to v13, I get the following error:

[code]

However, the issue is fixed by moving the props to its own type definition:

[code]

I'd refactor these files, but I've got ~90 of them defined this way and don't want to go through all of them right now. Any way to bring back support for inline defs?

[2017-12-26 19:04] brigand commented on #161
Thanks for the report!

13 actually added support for that. Before 13, I think it didn't generate propTypes for that at all. Seems to be a bug. I'll look into it.

[2017-12-26 19:20] #161 closed

[2017-12-26 19:22] brigand commented on #161
Should be fixed in 13.0.1. Let me know if it works

[2017-12-26 20:48] rsolomon commented on #161
Looks like that fixed it. Thanks!

[2017-12-29 06:49] billyjanitsch commented on #159
Babel 6 supports this, as does Babel 7. [Here](https://github.com/vslinko/babel-plugin-react-require/blob/master/src/index.js#L22)'s an example.

I think their check makes sense; it's what most Babel 6 plugins are doing anyway. In fact, [many](https://github.com/vslinko/babel-plugin-react-require#example) are [opinionated](https://github.com/lodash/babel-plugin-lodash#faq) about _only_ supporting

[2017-12-30 01:46] brigand commented on #159
Thanks for doing the research. Switching to ESM by default, and common.js when deadCode is enabled seems good.

[2017-12-30 03:53] brigand commented on #159
Working on this here #162

cc @billyjanitsch

[2018-01-03 23:16] grrowl commented on #106
I believe this fails due to the same root cause:

[code]

in `babel-plugin-flow-react-proptypes/lib/convertToPropTypes.js:165`, `spreadShape.properties.forEach` explodes because `spreadShape` doesn't have a `properties` property at all (possibly because it's of type `GenericTypeAnnotation`?)

[2018-01-05 13:11] k15a opened #163 ""Internal error that should never happen" happened"
After updating to 13.0.1 from 10.0.0 I've got this error:

[code]

Source file:

[code]

Babel config:

[code]

If you need more information please let me know.

[2018-01-06 02:40] brigand commented on #163
Thanks for the report!

I reduced it down to this:

[code]

To be honest, I don't fully understand this code. Could you explain it in english?

I'm not sure if we'll end up fully supporting this in the short term (I have limited time for this project), or bail out and treat it like `any`.

[2018-01-08 08:35] k15a commented on #163
[`$Shape`](https://medium.com/netscape/secret-flow-types-86b2ebb30951) is a utility shape from flow:

With `$DeepShape` I have the same behavior as `$Shape` but mapping deeply into the object.

[code]

You can find more context on [`$DeepShape<T>` here](https://github.com/facebook/flow/issues/5262#issuecomment-343803528)

I'am very happy with bailing out and handling this as any.

[2018-01-08 09:31] #163 closed

[2018-01-08 09:32] brigand commented on #163
Cool, pushed a fix as 13.0.2.

[2018-01-08 09:33] k15a commented on #163
Thank you very much.

[2018-01-11 19:33] rsolomon commented on #150
Hey thanks for the update. I tested this out again, and it looks like I'm having trouble with files with the `'no babel-plugin-flow-react-proptypes';` directive. My guess is that babel is stripping it out, but I'm not sure how to configure it away. Any advice?

[2018-01-11 20:01] brigand commented on #150
@rsolomon can you make a reproduction case? If there isn't a clean way to solve it in your environment, I can try adding a comment that does the same thing.

[2018-01-21 22:06] #159 closed

[2018-01-22 10:30] Andarist opened #164 "[bug] Exported identifiers do not match with imported ones"
Importing file has this:
[code]
where export looks like this:
[code]

[2018-01-22 12:45] aurbano opened #165 "Describe breaking changes when bumping major version"
Unless I'm missing another Changelog, would it be possible to have a brief message on the Release, or in the existing Changelog in the code explaining what has changed?

Cheers!

[2018-01-22 19:47] brigand commented on #165
Yep, sorry about that. I added a note in the readme, but didn't update the changelog.

I'll try to remember to do that going forward.

[2018-01-22 19:47] #165 closed

[2018-01-22 19:54] brigand commented on #164
@Andarist could you give an example that reproduces the issue?

Tried:

[code]

[code]

Outputs

[code]

[code]

Also this

[code]

[2018-01-23 00:28] Andarist commented on #164
I have just came back home and its past 1 am, so cant do much right now, but your examples from what I see are also broken - notice how exported (`babelPluginFlowReactPropTypes_proptype_A`) specifier does not match to imported one (`bpfrp_babelPluginFlowReactPropTypes_proptype_A`)

[2018-01-23 00:32] brigand commented on #164
Oh lol, missed that.

[2018-01-23 00:39] #164 closed

[2018-01-23 00:39] brigand commented on #164
Published a fix as 14.0.2

[2018-01-23 11:02] Andarist opened #167 "[bug] ExportNamedDeclarations with exportKind: "type" are not transpiled"
This stays untouched by the plugin:
[code]

[2018-01-24 07:02] TrySound opened #168 "deadCode for esm"
Why `deadCode` can't work with esm? It would be much better to just wrap `propTypes` field with `__DEV__` and treeshake `prop-types` package out. Currently [transform-react-remove-prop-types](https://github.com/oliviertassinari/babel-plugin-transform-react-remove-prop-types) doesn't affect this plugin output.

[2018-01-24 07:14] brigand commented on #168
It could probably be made to work if the bundler is seeing the `import`/`export` statements, but it wouldn't work if babel is compiling ESM to common.js, which is quite common, especially for packages published to npm.

I think ideally we'd have the option for dead code, and an option for common.js or ESM output. I'd want to improve the testing situation before introducing more configuration or fe

[2018-01-24 19:35] SpainTrain commented on #136
I am trying to verify whether there is a regression on this in v14.  I want to ensure I understand the correct intended behavior before opening a new issue. Thanks!

Works in 13:

[code]

In 14 (same codebase only upgraded from v13 to v14) this results in the error `Error: Warning: Failed prop type: bpfrpt_proptype_Node is not defined`.

However, in v14 the following *does* work:

[code]

[2018-01-24 19:37] brigand commented on #136
@SpainTrain that was likely fixed in 14.0.2, from [this issue](https://github.com/brigand/babel-plugin-flow-react-proptypes/issues/164).

[2018-01-24 19:43] SpainTrain commented on #136
Thanks for quick response.

Sorry I should have noted exact versions.  I have been testing 13.0.2 and 14.0.2.  Note in the pasted error message `bpfrpt_proptype_Node`, which is a name that would only show up in 14.0.2+, I think.

I see that 14.0.3 was published, so will begin testing with that (though the change appears unrelated).

[2018-01-24 19:49] SpainTrain commented on #136
I think the relevant line in the transpiled code is:

[code]

Unless react is also run through the plugin, this won't work right?

[2018-01-24 19:49] brigand commented on #136
Ah, well there are two issues here. The import name was wrong between 14.0.0 and 14.0.3, but the current issue is that we don't detect the named import of `Node` from `'react'`, so it ends up producing this:

[code]

In 14.0.3 it should at least not error (I think), but the generated propTypes are wrong.

I should have time to fix that tonight.

[2018-01-24 20:02] SpainTrain commented on #136
Makes sense.  That is great, thanks!

Were the `Element` and `ChildrenArray` types (https://flow.org/en/docs/react/types/) previously supported?  Once I see how `Node` is done, I would happily open a PR to add those as well.

[2018-01-25 16:49] SpainTrain opened #171 "Error Importing React.Node type - `bpfrpt_proptype_Node is not defined`"
Opening just for tracking based on thread starting at https://github.com/brigand/babel-plugin-flow-react-proptypes/issues/136#issuecomment-360248347

From that thread:

[code]

[2018-01-30 12:37] kubijo opened #172 "Wrong accessNode.name on imported type"
Hi.

I'm trying to hunt down a bug where some of my prop-types are **generated for the wrong exported flow type**.

When I **inline the type definition** to the component's file, the **error goes away**.

## To illustrate this consider following example:

**a.js**
[code]

**b.js**
[code]

ouput of logging `importedTypes` in [here](https://github.com/brigand/babel-plugin-flow-react-proptypes/blob/7

[2018-01-30 13:52] #172 closed

[2018-01-30 13:56] brigand commented on #172
Thanks for the report! Fixed in 15.0.0. It'll now output

[code]

Room for improvement in not duplicating the import declarations, but it seems to be working correctly.

Also fixed some mistakes in the test output we didn't catch previously.

[2018-01-30 14:05] kubijo commented on #172
Man, that was fast ... however I'm still having the same issues with the production code so currently I'm trying to replicated the previous test to see if I'm doing something wrong elsewhere

[2018-01-30 14:08] brigand commented on #172
@kubijo to experiment with it, in this repo you can create e.g. a.js in the root, and then run `./scripts/runOnFile a.js --leave-esm`.

[2018-01-30 14:12] kubijo commented on #172
Never mind, it was an error between display & chair (code was not recompiled).

Hats of for your aptly response sir!

[2018-01-30 15:14] kubijo opened #173 "Feature: Interface support"
Hi.

What is the state state of affairs with the support of interface types?
It seems like that as of now, those do not get `bpfrpt_proptype_${name}` propType validators.

I can imagine that the full support mightn't be possible in a sensible complexity level (combination of indexers and methods *), however we could handle them essentially as object types...

[code]

would become:

[code]

## * in

[2018-01-30 15:15] kubijo commented on #173
ps.: those pesky indexers could also be just skipped for simplicity sake

[2018-01-30 15:35] brigand commented on #173
Seems like a good thing to have, but I don't have time to implement it. PRs welcome.

If you take this, prefer a simple solution that works in the basic cases. Also, we don't read other files during the transform, so it'd likely end up exporting the same as a shape type.

[code]

I don't think there's any way to make it actually use instanceof checks, but this should be good enough.

[2018-01-30 23:03] #168 closed

[2018-01-31 13:45] TrySound commented on #167
And this currently breaks react virtualized with a lot of such warnings
![image](https://user-images.githubusercontent.com/5635476/35626221-0e9ddb00-06a6-11e8-864f-3f0b0ebed03d.png)

[2018-01-31 14:27] brigand commented on #167
Sorry, somehow missed this issue. 16.0.0.

[2018-01-31 17:45] Andarist commented on #167
I confirm that **this** issue is resolved, closing :)

[2018-01-31 17:45] #167 closed

[2018-01-31 17:49] Andarist opened #176 "[bug] ImportDeclarations with importKind: "type" do not account for local specifiers"
**input**

[code]

**output**

[code]

Which of course is a clash of identifiers and results in

**NOTE**
I'm reporting it but also preparing a fix right now.

[2018-01-31 18:13] brigand commented on #176
Cool, thanks for continuing to contribute here 👍

[2018-01-31 18:26] TrySound commented on #176
@brigand And I continue to publish broken releases :)

[2018-01-31 18:36] Andarist commented on #176
@TrySound I've discovered this quickly because I have a WIP `react-virtualized` branch where I already use rollup for building a flat bundle, which warns me nicely about those broken cases immediately :P One more reason to migrate to rollup there ;)

[2018-01-31 18:37] TrySound commented on #176
@Andarist Yeah, you are right.

[2018-01-31 21:33] #176 closed

[2018-02-12 21:56] jchen527 opened #180 "React.Element should convert to PropTypes.element"
Right now, the flow type `React.Element<any>` (recommended by Flow [here](https://flow.org/en/docs/react/children/#toc-enforcing-that-a-component-only-gets-a-single-child) for enforcing a single child) gets converted to `PropTypes.node`, but `PropTypes.element` is more appropriate.

[2018-02-16 22:43] IanVS opened #181 "Option to silence/disable warnings [Feature request]"
Hi, would you consider adding an option to run in `silent` mode, meaning that warnings are not shown?  I'm getting a lot of warnings about not finding proptypes from `react-router-dom`, but those are all flow types being used as flow types and not proptypes, so I don't really care about the warnings.  Thanks!

[2018-02-16 23:04] brigand commented on #181
Could you copy/paste the warning you're getting and the code causing it? I don't know what you're referring to.

[2018-02-17 01:52] IanVS commented on #181
Hi, sure, the warnings I see are something like this:

[code]

And my code looks like:

[code]

Let me know what else would be useful information.

[2018-02-17 09:28] brigand commented on #181
@IanVS you can add `'no babel-plugin-flow-react-proptypes';` to this file (with the quotes, like `'use strict'`).

This is webpack giving a warning, and it seems to be because `react-router-dom` is published as an ES6 module. Maybe we should check if the import line is non-relative, and if so, skip importing the type.

[2018-02-18 17:37] wchargin opened #183 "Why are element types of arrays not marked required?"
The Flow type `number[]` denotes a list of non-nullable numbers:
[code]
This plugin translates such a typedef into `PropTypes.arrayOf(PropTypes.number).isRequired`. But this does not require that the elements be non-null:
[code]
It seems that:
  * `number[]` should become `PropTypes.arrayOf(PropTypes.number.isRequired).isRequired`, while
  * `(?number)[]` should become `PropTypes.arrayOf(PropTypes

[2018-02-18 18:45] wchargin opened #185 "Forward-uses are treated as uses of external classes"
In Flow, the following declarations are equivalent:
[code]
and
[code]

This plugin translates the first one correctly, but in the second one
the attribute `y` of the PropTypes generated for `X` refers to `Y` as if
it were an external class, not a Flow type. In practice, this means that
the attribute is equivalent to `y: any`. Presumably, this is because the
conversion scans linearly across the fil

[2018-02-18 19:35] #183 closed

[2018-02-19 13:19] IanVS commented on #181
Hm, okay using the ignore directive is a bit unfortunate because I have a lot of files like this, but that's what I'll do for now.  I take it you don't really want to add a `silent` option, right?  If not, feel free to say so and close the issue.  I know that adding options isn't simple and comes with costs, so I'll understand if you don't want to add one.

[2018-02-19 16:18] brigand commented on #181
@IanVS the issue is that we're not giving the warning. For your code sample, we generate this code:

[code]

Since the file `react-router-dom` resolves to is an ES6 module, and doesn't have an export with that name, webpack issues a warning.

The obvious solution is to check the specified import like, `/^\w/.test('react-router-dom')`, however that breaks code adding a 'module directory' or alias,

[2018-02-19 18:02] IanVS opened #187 "PropTypes is not defined"
Hi, I recently updated from `2.2.1` up to `17.1.2`, and I've started getting errors like:

[code]

It seems that the plugin is not adding the import of `PropTypes` correctly, maybe?  Or is there something else I'm missing?  I'm on react `15.4.2`, in case that matters.

[2018-02-19 18:07] brigand commented on #187
@IanVS could you give an example file that causes this issue, and your babel config?

[2018-02-19 18:48] TrySound commented on #187
@IanVS Flow changed react interfaces. Not you should specify generics like this
[code]

[2018-02-19 18:51] IanVS commented on #187
Right, that's the way with flow 0.53 and above, but I should have mentioned we are still on 0.52.

[2018-02-19 18:53] TrySound commented on #187
Perhaps this plugin shouldn't be updated too?

[2018-02-19 18:56] IanVS commented on #187
@TrySound are you saying that recent versions of this plugin require flow 0.53 (and/or React 16)?  I can't tell if that's the case from reading the README.  If so, what's the latest version that should be safe for me to use?

[2018-02-19 19:06] TrySound commented on #187
It seems like your case should work fine.
https://github.com/brigand/babel-plugin-flow-react-proptypes/blob/master/src/__tests__/hoc.js
Did you enable esm support?

[2018-02-19 19:07] TrySound commented on #187
Also can you provide transpiled result?

[2018-02-19 19:08] brigand commented on #187
It looks like this is the issue:

[code]

The `PropTypes` export was removed from React in version 15.0

[2018-02-19 19:12] brigand commented on #187
These are the outputs for your files, btw: https://gist.github.com/brigand/3c24152f848fd86521d8c7337d7c56e5

I think if you just delete the 'PropTypes' import in your source code, it'll work.

[2018-02-19 19:17] IanVS commented on #187
It was removed in react 15.5:

https://reactjs.org/docs/typechecking-with-proptypes.html

We are still on `15.4.2`.

@TrySound, what do you mean by "enable esm support"?  You can see in my `.babelrc` above that I'm using `["es2015", { "modules": false }]`.

Here is what I'm getting, as copied out of the Chrome source tab: https://gist.github.com/IanVS/967e4348f9124d2ed4f4aedf36ba23b2

Removing the

[2018-02-19 19:18] IanVS commented on #187
BTW, is there a better way to run a single file through babel and get the output?

[2018-02-19 19:19] brigand commented on #187
@IanVS `npx babel file.js`

[2018-02-19 19:41] IanVS commented on #187
What adds the `import PropTypes from "prop-types";` at the bottom of your gist?  I can't find that anywhere in my source explorer in chrome (everything there is `require`), but it _is_ there when I run `npx babel` as you said.

`npx babel ...` even adds the import statement when I set `["flow-react-proptypes", {"useESModules": false}],`, is that correct behavior?

[2018-02-19 19:55] brigand commented on #187
That config option should probably be renamed to 'forceESModules' but the behavior is correct. The `'deadCode'` option switches it to use `require`, and `useESModules` overrides that.

The import is added by this plugin, but maybe babel is detecting a duplicate import and removing the one we add from the final code? I don't think this plugin is doing that check, but I'm not sure.

[2018-02-19 20:45] TrySound commented on #187
It was removed in 16.0. In 15.5 it was just deprecated

[2018-02-27 14:34] FDiskas opened #188 "Mixed indexers and named properties are not supported"
"babel-plugin-flow-react-proptypes": "19.0.0"
babel: 7.0.0.0-beta.39

[code]

[2018-02-27 14:39] FDiskas commented on #188
but why it's a problem?
https://github.com/brigand/babel-plugin-flow-react-proptypes/blob/5d4e193779d5dd5fef997d8d4ca1d4375d356f8b/src/__tests__/objectof-mixed-indexers-named-test.js#L5-L19

[2018-02-27 14:46] FDiskas commented on #188
![error](https://i.imgur.com/cVIRjd1.png)

[2018-02-27 14:54] FDiskas commented on #188
.babelrc
[code]

[2018-02-28 00:26] #188 closed

[2018-02-28 00:27] brigand commented on #188
This change happened [here](https://github.com/brigand/babel-plugin-flow-react-proptypes/pull/182).

There isn't a way to express this type with PropTypes, but we could create a custom prop type for it.

For now, I'll relax the checks. Published as 19.1.0. I don't know when I'll have time to implement it properly, but PRs are very welcome.

[2018-02-28 08:46] DimitryDushkin opened #189 "opaque type is skipped"
Hey! Thank you for great plugin!

We've started to use "opaque type" and I've noticed it's simply skipped by plugin. So all checks on this type fails, because it's degrades to shapeOf undefined.

Is this right, or am I doing something wrong?

Thank you.

[2018-02-28 08:49] FDiskas commented on #188
maybe you can find something useful https://github.com/atlassian/babel-plugin-react-flow-props-to-prop-types :sound:

[2018-02-28 09:09] brigand commented on #189
Thanks for bringing this up.

Could you give a code example that causes it to use shapeOf?

Also, what would you expect the behavior to be? We could treat them the same as normal types and actually do the checks, or they could be treated as `any`, which seems equally correct.

[2018-02-28 10:28] brigand commented on #188
@FDiskas from their readme:

[2018-03-01 19:28] echenley opened #190 "Does not reexport compiled proptypes"
## Example

[code]

[code]

[code]

This ends up throwing an error:

[code]

The problem is that `path/form/index.js` compiles to:

[code]

You can see that the proptypes are not being exported. Not sure if this is an easy fix. I am running into this error after upgrading from 9.0.0 to 19.1.0, so quite the jump.

[2018-03-01 21:35] echenley commented on #190
I was able to avoid the issue by using `export type`:

[code]

This results in:

[code]

[2018-03-02 19:16] brigand commented on #190
Thanks for the report, and definitely something that should be supported. I'll try to fix this in the next day or two.

[2018-03-05 16:12] #190 closed

[2018-03-05 16:12] brigand commented on #190
Published a partial fix in 20.0.0. You can't rename the types, but otherwise it should work.

[2018-03-07 09:58] emattias opened #192 "Cannot read property 'name' of null for anonymous Class components"
This code:

[code]

results this error:

`Cannot read property 'name' of null`

If I give the class a name the error dissappears:

[code]
To me it looks like this is the same problem as with anonymous function components that was discussed in issue https://github.com/brigand/babel-plugin-flow-react-proptypes/issues/66 and fixed in PR https://github.com/brigand/babel-plugin-flow-react-proptypes/pul

[2018-03-07 15:49] #192 closed

[2018-03-07 15:50] brigand commented on #192
Thanks for the report. We couldn't support this in the past, but now we insert `static propTypes = {}` into the class, and babel can figure out the rest.

Fixed in 20.1.0.

[2018-03-09 14:04] patrikholcak commented on #171
Any updates on this? Here’s a workaround until this gets fixed:

[code]

[2018-03-09 17:04] #171 closed

[2018-03-09 17:04] brigand commented on #171
Sorry for the delay on this. Published as 21.0.0.

[2018-03-13 14:00] FDiskas commented on #181
updating to v21 solved this issue for me :camel:

[2018-03-16 16:06] brigand commented on #181
Yeah, should be fixed. Please open another issue if there are further issues.

[2018-03-16 16:06] #181 closed

[2018-03-30 14:24] zthomae opened #193 "PropTypes are not added to class components with intersected type parameters"
For example, no propTypes will be assigned to this class:

[code]

Instead, the snippet above just gets translated into something like this:

[code]

[2018-03-30 14:50] brigand commented on #193
Thanks for the report.

Played with it a bit, and this seems to work:

[code]

Produces:

[code]

I don't have time to work on this currently, but PRs are very welcome.

[2018-03-30 14:50] brigand commented on #193
Oh you sent a PR, awesome!

[2018-03-30 14:52] #193 closed

[2018-04-10 05:47] marcind commented on #189
Hi there, ran into similar problems with opaque type aliases and so I put together this [PR](https://github.com/brigand/babel-plugin-flow-react-proptypes/pull/195) to add support by using the opaque type alias's underlying type information to generate the propTypes (i.e. it behaves just like a regular type declaration).

I prefer that to treating them as `any` because in the project I'm working on

[2018-04-16 15:21] ndreckshage opened #197 "Import type - implementation guidelines?"
Hi - I'm wondering how import types are supposed to work, and if we can provide guidelines for how we should get them working (for non-webpack projects).

Import types seem to work out of the box in webpack, but based on how things compile, its not clear to me what should happen. For example...

[code]

compiles to

[code]

This makes sense, the rename to `bpfrpt_proptype_` to avoid name conflicts

[2018-04-16 16:12] brigand commented on #197
So with `from 'types'` we detect that it looks like an import from 'node_modules', and decide not to import the type, so it behaves like the import doesn't exist (you'd get the same output if you removed the type import).

If that's changed to `from './types'`, which looks like an import of your own source files (presumably also compiled by this plugin), then you get this:

[code]

The reason for

[2018-04-16 16:12] #197 closed

[2018-04-19 22:30] ndreckshage commented on #197
@brigand would you consider a PR that adds an option (default to current behavior) around https://github.com/brigand/babel-plugin-flow-react-proptypes/blob/master/src/index.js#L629 to bypass the relative path regex / requirement?

We use a flat, haste-like module resolver, where filenames are guaranteed unique. Even in a webpack system, I think the current regex solution could potentially result i

[2018-04-27 00:52] arahansen commented on #113
This seems to have been resolved for me

[2018-04-27 00:52] #113 closed

[2018-05-10 13:41] alexeychikk opened #198 "Not working when module.name_mapper is used"
Hi. I'm trying to import type with alias:
[code]
Import looks like:
[code]
No PropTypes errors in console, however there is an error when I import it with:
[code]
Webpack aliases are configured properly for sure because they are used and work ok.

[2018-05-10 14:15] brigand commented on #198
See https://github.com/brigand/babel-plugin-flow-react-proptypes/issues/197 https://github.com/brigand/babel-plugin-flow-react-proptypes/pull/186

TL;DR we need to add some form of config option to allow this, but I'm not sure on the details of how it should work.

[2018-05-30 10:19] vaukalak opened #200 "transforming recompose context props."
I use recompose library, and using `getContext` enhancer:

[code]

I'd like to get this transformed via this plugin, something like that.

[code]

I understand that this is very low priority issue, and there's no straightforward way to implement this. But I just would like to create this issue as discussion point.

[2018-05-30 11:46] brigand commented on #200
Hi there,

This only looks right by coincidence, e.g. here this parses as a reference to the variable `Function`, not a type annotation. We'd have to significantly alter runtime behavior for this code or concept to work, breaking assumptions people may have about the code. In the case of this plugin, all it does is potentially add more warnings to the console.

Going to close this as it's out of s

[2018-05-30 11:46] #200 closed

[2018-06-29 23:55] wchargin opened #201 "Types imported with `import *` (import star) are treated as values, causing runtime error"
Consider the following two files:

**dep.js**
[code]

**test.js**
[code]

These files type-check (`yarn flow check`) without problem.

But the output of `npx babel test.js` is the following:

[code]

It is a runtime error to refer to `Dep.Fruit`, because that export only
exists at the type level.

**.babelrc**
[code]

**package.json**
[code]

[2018-06-30 00:44] brigand commented on #201
Hello. I don't see any way for us to detect this, so I think you'd have to [suppress the plugin](https://github.com/brigand/babel-plugin-flow-react-proptypes#suppression) for this file.

Let me know if you have any ideas on how to improve the behavior.

[2018-06-30 02:35] wchargin commented on #201
Hi. I agree that it’s not possible to detect this from the syntax tree.
For instance, if we add `export class Froot {}` to `dep.js` and change
the export in `test.js` from `Dep.Fruit` to `Dep.Froot`, then the only
change to `yarn flow ast test.js` is in the (string) name of the
identifier being exported, which is clearly insufficient.

However, it is possible to do this with basic static analysis—

[2018-06-30 02:40] brigand commented on #201
At least for now, I'd like to maintain the plugin not reading files or invoking CLI tools. There are costs to that limitation, and in your case it won't work at all, so I'll think about it some more. Thanks for bringing up the issue.

[2018-06-30 04:29] wchargin commented on #201
Okay! Thanks for letting me know. I’ll stay subscribed to this issue;
feel free to update it if anything changes.

[2018-07-30 08:40] Mayank1791989 opened #202 "Add support for $ReadOnlyArray"

[2018-07-30 10:41] brigand commented on #202
Sure, assuming you just want it to result in PropTypes.array. PRs welcome, but otherwise I'll try to find time soon.

[2018-07-30 17:40] Mayank1791989 commented on #202
Hmm converting it to PropTypes.array will be enough. I will send a PR.

[2018-07-30 22:41] #202 closed

[2018-08-14 15:45] snatvb opened #204 "Error when union types"
Hello. When I try union types with three dots, then i get this error:
`Cannot read property 'forEach' of undefined
at convertToPropTypes node_modules/babel-plugin-flow-react-proptypes/lib/convertToPropTypes.js:185:19`

Example:
[code]
[code]
[code]

Why?

[2018-08-15 06:47] #204 closed

[2018-08-15 06:50] brigand commented on #204
Thanks for the report. Published as v21.1.1.

[2018-09-04 19:04] dlebedynskyi commented on #154
Hi, tried dead code and  running into issues with `deadCode: true`
[code]
any suggestion on fix?

[2018-09-04 20:00] brigand commented on #154
@dlebedynskyi Thanks for the report, should be fixed in 24.1.2

[2018-09-04 21:28] dlebedynskyi commented on #154
@brigand  confirmed, working now. Thank you

[2018-09-10 15:13] haf commented on #150
I've linked this issue from https://github.com/babel/babel/issues/8648#issuecomment-419740411 — from the above comment, I take it you have babel 7 support?

[2018-09-10 19:42] brigand commented on #150
@haf I haven't personally tested on 7.x yet. There's the [babel-7 branch](https://github.com/brigand/babel-plugin-flow-react-proptypes/tree/babel-7) from [this PR a year ago](https://github.com/brigand/babel-plugin-flow-react-proptypes/pull/102), but it's likely less work to do it from scratch at this point.

We should change [this][1] to use parametric modules, and the project should be developed

[2018-09-11 12:28] haf commented on #150
@brigand Thank you for telling me the status. No rush. You have a great project.

[2018-09-12 19:31] brigand opened #206 "Perform escape analysis on imported types"
Reference: [react-virtualized issue](https://github.com/bvaughn/react-virtualized/issues/1212)

This import appears in a [source file] which doesn't define components or composite types.

[code]

This line is in the output:

[code]

As `bpfrpt_proptype_WindowScroller` is never referred to, the binding and import can be cleaned up.

[source file]: https://github.com/bvaughn/react-virtualized/blob/6

[2018-09-20 07:09] MaxInMoon commented on #150
@brigand to install the `babel-7` branch, i did `yarn add git://github.com/brigand/babel-plugin-flow-react-proptypes.git#babel-7 -D`, but  this error message `"Cannot find module 'babel-plugin-flow-react-proptypes"` appeared.
What is the process to link the branch-setup with the plugin declaration? Tank you

[2018-09-27 00:56] piglovesyou opened #207 "Fails to check "Objects as maps""
My code:

[code]

It is built fine, but when I run on a browser, the error log below appears:

[code]

Reference: [Objects as maps in Flow Types](https://flow.org/en/docs/types/objects/#toc-objects-as-maps)

[2018-10-21 15:50] abumalick commented on #150
Don't forget to update that very useful plugin 👍

I am waiting for support for babel 7 🚀

[2018-12-29 00:42] dht opened #209 "Identifier 'PropTypes' has already been declared"
We use contextType so we have to import PropTypes for this:

[code]

However, when using the plugin the build fails with:

How can one go around it? is there an option to tell the plugin not to import PropTypes if the import exists?

[2019-02-04 15:33] expobrain opened #212 "Example form README is not transpiled correctly"
With version `25.0.0` the code example in the README is not transpiled correctly, for instance the result code doesn't contain any proptypes definition:

[code]

I'm going to have a look about this

[2019-02-04 15:55] expobrain commented on #212
FYI tested within https://babeljs.io/repl

[2019-02-04 15:58] expobrain commented on #212
My fault, I misconfigured the REPL; closing the issue

[2019-02-04 15:58] #212 closed

[2019-04-16 16:50] kevinbarabash opened #213 "plugin errors when parsing "empty" types"
Specifically the error I get is:
[code]
I don't think prop-types has a type that makes sense so I think just ignoring this type makes sense.

[2019-04-16 18:44] #213 closed

[2019-04-16 18:46] brigand commented on #213
Thanks for the report. For reference, example code that caused the issue:

[code]

Fixed in 25.1.0.

[2019-04-16 21:34] kevinbarabash commented on #213
Thanks for the quick fix.

[2019-04-16 21:39] kevinbarabash opened #215 "fails on imported types from other files"
Example code:
[code]

Error:
[code]

I'm going try to create a test case in the test suite that reproduces this.

[2019-04-16 22:02] kevinbarabash commented on #215
I think this is an issue with the babel plugins/presets I have configured.

[2019-04-16 23:01] kevinbarabash commented on #215
It turns out it wasn't a configuration issue, but rather an issue when there are multiple components in the same file while using imported types.  I'll try to create a minimal reproducible test case, but in the meantime I should be able to work around this by splitting the components into separate files.

[2019-04-16 23:24] kevinbarabash commented on #215
Splitting up the files did indeed solve the issue.

[2019-04-17 16:03] kevinbarabash commented on #215
Disabling the `@babel/env` preset in the test outputs the following code which has no undefined variables:
[code]
I tried pasting this into the babeljs.io repl and turned on `@babel/env` and it does the right thing.  There must be some subtle interaction when `@babel/env` is run on the modified AST chunks that this plugin generates.

[2019-04-17 20:19] kevinbarabash opened #217 "Using built-in generics in a generic type fails"
The following code:
[code]
results in the following error:
[code]
I put a break point there and discovered that `"Array"` is not a key of `internalTypes` and this is what was triggering the failure.

[2019-04-17 20:22] kevinbarabash opened #218 "Add support for recursive data types"
The following code:
[code]
produces the following error:
[code]

[2019-05-03 14:05] andreawyss opened #219 "aria-{name} and data-{name} props do not work"
props that contain a dash "-" do not work.
These where working with Babel 6 and previous version of the plugin.

To reproduce add these props to the basic-test.js example:

type FooProps = {
  'aria-label': string, // a required aria prop
  'data-e2e': string, // a required data prop
}

Proptype validation fail even when the given prop is present.

Warning: Failed prop type: The prop `"data-e2e"`

[2019-05-04 00:17] brigand commented on #219
Hi. This is what I see generated for that in babel 7.

[code]

If React doesn't handle hyphens in the prop names correctly here (I haven't checked), then is there some output that would be more compatible?

The warning is coming from React applying the prop-type check on the property, with the expected name in the message, so this looks unlikely to be a bug in this plugin. Closing for now, but hap

[2019-05-04 00:17] #219 closed

[2019-07-03 14:17] terreb commented on #152
It seems the issue is back. I'm testing with RN 0.57.8 and it doesn't generate propTypes. I prepared [the repo](https://github.com/terreb/flowProptypes).

[2019-07-11 21:54] dcwither commented on #209
Not sure if you're still experiencing this, but it seems that the `README` says that it compiles the import as:
[code]

But that doesn't appear to be the case.

As a workaround I've changed the manual imports to:
[code]
which seems to be working.

[2019-09-14 03:56] frederikocmr commented on #209
Well, you can try to check if you are not using the same name as in the import and then re declaring it as a const with the same name.

For example, I have imported the `PropTypes`:

`import PropTypes from 'prop-types';`

And then I was trying to declare it again as a const:

[code]

I just solved it by changing the `const PropTypes` to `const propTypes` with a lower case in the first char; Simple

[2019-11-05 22:38] TSMMark commented on #106
Any way I can help move this forward?

[2019-11-05 22:54] brigand commented on #106
I apologize for such a long standing issue.

@TSMMark I might be able to work on this on the weekend, but if you have some time, I would very much appreciate a PR that either makes this fail softly or one that actually implements the expected behavior with exact types + spread.

[2019-11-06 19:55] TSMMark commented on #106
@brigand I was trying to use this plugin but I couldn't seem to get it to add propTypes to any components for some reason. If I'm able to invest any time in it it's going to have to be trying to resolve that issue – sorry!

[2019-11-13 22:25] TSMMark commented on #106
In my built files I'm seeing `var _types = require("./types");` but then `_types` is never referenced after that. Any pointers?

[2019-11-13 22:55] brigand commented on #106
@TSMMark that might happen if you have a type import (`import type ...`), since at the point the import is reached, we don't know whether or not we need it at runtime. The import is modified such that the [babel flow plugin] won't strip it, and then we can use it later if you refer to the type in a place that we process.

[babel flow plugin]: https://babeljs.io/docs/en/babel-plugin-transform-flow-

[2019-11-27 22:41] romeovs opened #223 "Issue when using with rollup imports"
The import renaming breaks with rollup. For example:

[code]

When building `foo.js` with rollup, I get this error:
[code]

This presumably happens because the import gets transformed from:
[code]
to
[code]
which a) is no longer a type import so does not get stripped and b) `bpfrpt_proptype_Bar` indeed does not exist in `bar`.

This only happens when bar is a non-local import.

Has anyone run into

[2019-11-27 23:34] brigand commented on #223
Hi. So we have a test for this [here](https://github.com/brigand/babel-plugin-flow-react-proptypes/blob/master/src/__tests__/import-non-relative.js) with [this snapshot](https://github.com/brigand/babel-plugin-flow-react-proptypes/blob/master/src/__tests__/__snapshots__/import-non-relative.js.snap). I also tried with exactly `import { type Bar } from "bar"` and using `Bar` in the type for the comp

[2019-12-19 13:49] romeovs commented on #223
I can't reproduce this. Closing.

[2019-12-19 13:49] #223 closed

[2020-08-03 18:54] nathantalewis opened #228 "Support `React.ElementConfig`"
This seems very similar to https://github.com/brigand/babel-plugin-flow-react-proptypes/issues/147. React now also provides `ElementConfig` that works almost the same as `ElementProps` but preserves the optionality of default props. Documentation at https://flow.org/en/docs/react/types/#toc-react-elementconfig

Trying to use `ElementConfig` thows the following in version 26.0.0:
[code]

[2021-02-19 09:13] johnpangalos commented on #206
Hey, thought I'd follow up on this as more things are starting to use esbuild which is incompatible with this behavior. Resulting in anyone using react-virtualized not being able to use some of the more modern tooling. Some effect tools: [esbuild](https://esbuild.github.io/), [vite](https://vitejs.dev/), and [snowpack](https://www.snowpack.dev/).

I would love to help in anyway I can including wri

[2021-02-19 09:22] johnpangalos commented on #206
Looking through the code for react-virutalized, it seems to only happen for default imports of types.

Reference: https://github.com/bvaughn/react-virtualized/blob/master/source/WindowScroller/utils/onScroll.js

@mewhhaha

[2021-02-19 11:24] johnpangalos commented on #206
Seems to actually just with files that don't have react components in them.

[2021-07-09 03:31] olabala opened #234 "support webpack5"
I'm using [react-virtualized](https://github.com/bvaughn/react-virtualized) which uses this plugin,
and when I tried to migrate to webpack 5 from webpack 4, got this error.
[code]

[2021-09-20 12:50] #187 closed